Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Delete community_gallery/PhonePricesComparison/deleteme.html
  community_gallery/PhonePricesComparison/deleteme.html
Due: none

Delete community_gallery/PhonePricesComparison/data/a.html
  community_gallery/PhonePricesComparison/data/a.html
Due: none

Create README.md
  community_gallery/PhonePricesComparison/README.md
Due: none

Update README.md
  community_gallery/PhonePricesComparison/README.md
Due: none

Update hello.py
  community_gallery/traffic_crashes_example/hello.py
Due: black, ruff

feat: add fiction books to community gallery
  community_gallery/fiction-books/README.md
  community_gallery/fiction-books/hello.py
  community_gallery/fiction-books/images/favicon.ico
  community_gallery/fiction-books/images/logo.png
  community_gallery/fiction-books/preswald.toml
  community_gallery/fiction-books/pyproject.toml
Due: black, ruff

Added EV Sales Data Project to community_gallery
  community_gallery/ev_sales_data_project/README.md
  community_gallery/ev_sales_data_project/hello.py
Due: black, ruff

Added data folder and CSV file
  community_gallery/ev_sales_data_project/data/.gitkeep
  community_gallery/ev_sales_data_project/data/ev_data.csv
Due: none

fix to Readme
  community_gallery/fiction-books/README.md
Due: none

`Added API data source support to Preswald engine`
  community_gallery/api_source/.gitignore
  community_gallery/api_source/README.md
  community_gallery/api_source/hello.py
  community_gallery/api_source/images/favicon.ico
  community_gallery/api_source/images/logo.png
  community_gallery/api_source/nasa.py
  community_gallery/api_source/preswald.toml
  community_gallery/api_source/pyproject.toml
  preswald/cli.py
  preswald/engine/managers/data.py
Due: black, ruff

Update community_gallery
  community_gallery/food-recipies/.gitignore
  community_gallery/food-recipies/README.md
  community_gallery/food-recipies/hello.py
  community_gallery/food-recipies/preswald.toml
  community_gallery/food-recipies/pyproject.toml
Due: black, ruff

Integrated source (csv) and OpenAI + fixed scroll issue
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

`Removed files and directories for LA Crime Report project` old commuity_library
  community_gallery/LA_crime_report/.gitignore
  community_gallery/LA_crime_report/LACrimeReport.py
  community_gallery/LA_crime_report/README.md
  community_gallery/LA_crime_report/images/favicon.ico
  community_gallery/LA_crime_report/images/logo.png
  community_gallery/LA_crime_report/preswald.toml
  community_gallery/LA_crime_report/pyproject.toml
Due: black, ruff

added car models
  community_gallery/car-models/README.md
  community_gallery/car-models/hello.py
  community_gallery/car-models/images/favicon.ico
  community_gallery/car-models/images/logo.png
  community_gallery/car-models/preswald.toml
  community_gallery/car-models/pyproject.toml
  community_gallery/car-models/secrets.toml
  community_gallery/car-models/tx.py
Due: black, ruff

Added Personalized Learning Dashboard example
  community_gallery/personalized_learning_dataset/README.md
  community_gallery/personalized_learning_dataset/hello.py
Due: black, ruff

Adding dataset
  community_gallery/personalized_learning_dataset/data/personalized_learning_dataset.csv
Due: none

`Added API data source support to DataManager`
  preswald/engine/managers/data.py
Due: black, ruff

feat: add interactive TikTok Influencer Dashboard
  community_gallery/top_1000_tiktok_influencers/.gitignore
  community_gallery/top_1000_tiktok_influencers/README.md
  community_gallery/top_1000_tiktok_influencers/data/top_tiktok_influencers.csv
  community_gallery/top_1000_tiktok_influencers/hello.py
  community_gallery/top_1000_tiktok_influencers/images/favicon.ico
  community_gallery/top_1000_tiktok_influencers/images/logo.png
  community_gallery/top_1000_tiktok_influencers/preswald.toml
  community_gallery/top_1000_tiktok_influencers/pyproject.toml
Due: black, ruff

Create covid_19_time_series
  community_gallery/covid_19_time_series
Due: none

Delete community_gallery/covid_19_time_series
  community_gallery/covid_19_time_series
Due: none

adding covic_19_time_series to community_gallery/
  community_gallery/covid_19_time_series/README.md
  community_gallery/covid_19_time_series/hello.py
  community_gallery/covid_19_time_series/images/favicon.ico
  community_gallery/covid_19_time_series/images/logo.png
  community_gallery/covid_19_time_series/preswald.toml
  community_gallery/covid_19_time_series/pyproject.toml
  community_gallery/covid_19_time_series/secrets.toml
Due: black, ruff

removing secret from community_gallery/covid_19_time_series
  community_gallery/covid_19_time_series/secrets.toml
Due: none

Added community gallery project
  community_gallery/maryland_covid/README.md
  community_gallery/maryland_covid/hello.py
  community_gallery/maryland_covid/preswald.toml
  community_gallery/maryland_covid/pyproject.toml
  community_gallery/maryland_covid/secrets.toml
Due: black, ruff

Add music2 folder to community gallery
  community_gallery/music2/.gitignore
  community_gallery/music2/README.md
  community_gallery/music2/hello.py
  community_gallery/music2/images/favicon.ico
  community_gallery/music2/images/logo.png
  community_gallery/music2/preswald.toml
  community_gallery/music2/pyproject.toml
Due: black, ruff

Added Superstore Sales Analysis
  community_gallery/superstore_sales/.Rhistory
  community_gallery/superstore_sales/.gitignore
  community_gallery/superstore_sales/README.md
  community_gallery/superstore_sales/hello.py
  community_gallery/superstore_sales/images/favicon.ico
  community_gallery/superstore_sales/images/logo.png
  community_gallery/superstore_sales/preswald.toml
  community_gallery/superstore_sales/pyproject.toml
Due: black, ruff

Finance Data Commit
  community_gallery/finance_data/README.md
  community_gallery/finance_data/hello.py
Due: black, ruff

Add files via upload
  community_gallery/Iris/README.md
  community_gallery/Iris/data/Iris.csv
  community_gallery/Iris/hello.py
Due: black, ruff

fix: selectbox overflow styling
  frontend/src/components.css
  frontend/src/components/ui/select.tsx
Due: prettier

fix:properly read binary values when call get_df()
  preswald/engine/managers/data.py
Due: black, ruff

feat(community_gallery): added Netflix Movies&TVshows Analysis example
  community_gallery/netflix_Movies&TVshows/.gitignore
  community_gallery/netflix_Movies&TVshows/README.md
  community_gallery/netflix_Movies&TVshows/hello.py
  community_gallery/netflix_Movies&TVshows/images/favicon.ico
  community_gallery/netflix_Movies&TVshows/images/logo.png
  community_gallery/netflix_Movies&TVshows/preswald.toml
  community_gallery/netflix_Movies&TVshows/pyproject.toml
Due: black, ruff

Seattle Weather Assessment completed
  community_gallery/weather_analysis/.gitignore
  community_gallery/weather_analysis/README.md
  community_gallery/weather_analysis/data/seattleWeather.csv
  community_gallery/weather_analysis/hello.py
  community_gallery/weather_analysis/preswald.toml
  community_gallery/weather_analysis/pyproject.toml
Due: black, ruff

Update README.md
  community_gallery/fiction-books/README.md
Due: none

my f1 project
  community_gallery/f1/.gitignore
  community_gallery/f1/README.md
  community_gallery/f1/hello.py
  community_gallery/f1/images/favicon.ico
  community_gallery/f1/images/logo.png
  community_gallery/f1/preswald.toml
  community_gallery/f1/pyproject.toml
Due: black, ruff

fix: ensure GitHub usernames are case insensitive in deployment
  preswald/cli.py
Due: black, ruff

Added chats docs + modified system context
  docs/sdk/chat.mdx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

chore: bump version to 0.1.43
  setup.py
Due: black
