Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

fix(server): skip script reruns when component state is unchanged (#566)
  preswald/engine/server_service.py
Due: black, ruff

prettier-config fix #591
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/utils/websocket.js
Due: prettier

prettier-config fix #591
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: prettier

chore: squash recent updates (favicon, logo, readme, slack fix)
  README.md
  assets/PreswaldBanner.png
  assets/banner.png
  community_gallery/english-premier-league/README.md
  docs/docs.json
  docs/favicon.svg
  docs/layout/guide.mdx
  docs/logo/light.svg
  docs/sdk/download_button.mdx
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/DownloadButtonWidget.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/utils/websocket.js
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Webseries explorer added
  community_gallery/webseries_explorer/.gitignore
  community_gallery/webseries_explorer/README.md
  community_gallery/webseries_explorer/hello.py
  community_gallery/webseries_explorer/images/favicon.ico
  community_gallery/webseries_explorer/images/logo.png
  community_gallery/webseries_explorer/preswald.toml
  community_gallery/webseries_explorer/pyproject.toml
Due: black, ruff

Dataset link
  community_gallery/webseries_explorer/README.md
Due: none

lint: prettier
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/utils/websocket.js
Due: prettier

fix: compatible eslint and prettier conf
  frontend/eslint.config.js
  frontend/package.json
Due: prettier

Add sklearn_predictor component with example and UI
  examples/iris/models/iris_model.pkl
  examples/iris/preswald.toml
  examples/iris/sklearn_example.py
  examples/iris/train_model.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SklearnPredictorWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

publish original port in container
  preswald/deploy.py
Due: black, ruff

Add Supabase support
  preswald/engine/managers/data.py
  setup.py
Due: black, ruff

added supabase support
  docs/configuration.mdx
  docs/sdk/connect.mdx
  docs/sdk/get_df.mdx
Due: none

Fixed iris and fastplotlib examples
  examples/fastplotlib/hello.py
  examples/iris/hello.py
Due: black, ruff

add: playground component in preswald
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff

add: tutorial for playground
  preswald/tutorial/hello.py
Due: black, ruff

add: playground frontend widget
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
Due: prettier

add: documentation for playground component
  docs/images/playground.png
  docs/sdk/playground.mdx
Due: none

Fix TypeError by replacing | with Union for Python 3.7+ support
  preswald/deploy.py
Due: black, ruff

Create MyProject
  community_gallery/Weather Trend Analyzer/MyProject
Due: none

]
  community_gallery/Weather Trend Analyzer/MyProject
Due: none

Update Community Gallery
  community_gallery/myWeatherView/.gitignore
  community_gallery/myWeatherView/README.md
  community_gallery/myWeatherView/hello.py
  community_gallery/myWeatherView/images/favicon.ico
  community_gallery/myWeatherView/images/logo.png
  community_gallery/myWeatherView/preswald.toml
  community_gallery/myWeatherView/pyproject.toml
Due: black, ruff

Delete community_gallery/myWeatherView directory
  community_gallery/myWeatherView/.gitignore
  community_gallery/myWeatherView/README.md
  community_gallery/myWeatherView/hello.py
  community_gallery/myWeatherView/images/favicon.ico
  community_gallery/myWeatherView/images/logo.png
  community_gallery/myWeatherView/preswald.toml
  community_gallery/myWeatherView/pyproject.toml
Due: black, ruff

feat: add interactive weather dashboard
  community_gallery/myWeatherView/.gitignore
  community_gallery/myWeatherView/README.md
  community_gallery/myWeatherView/hello.py
  community_gallery/myWeatherView/images/favicon.ico
  community_gallery/myWeatherView/images/logo.png
  community_gallery/myWeatherView/preswald.toml
  community_gallery/myWeatherView/pyproject.toml
Due: black, ruff

fix: adjustment due to minor changes
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

Update to version 0.1.50
  examples/iris/hello.py
  frontend/src/App.css
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/index.css
  preswald/__init__.py
  preswald/interfaces/components.py
  setup.py
Due: black, ruff, prettier

Fix top bar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/LoadingState.jsx
  frontend/src/components/PreswaldBadge.jsx
  frontend/src/components/pages/Dashboard.jsx
  frontend/src/components/ui/aspect-ratio.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  frontend/src/styles.css
  frontend/tailwind.config.js
  preswald/tutorial/hello.py
  preswald/tutorial/preswald.toml
Due: black, ruff, prettier

fix: update text sizes
  community_gallery/average_salary_by_job_montgomery/hello.py
Due: black, ruff

chore: update docs
  docs/docs.json
  docs/sdk/sidebar.mdx
Due: none

Simplified serialization process
  preswald/interfaces/components.py
Due: black, ruff

Fixed initial table view
  frontend/src/components/widgets/TableViewerWidget.jsx
Due: prettier

Clean up selectbox
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/ui/progress.jsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SeparatorWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  package-lock.json
  package.json
  preswald/engine/managers/layout.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: black, ruff, prettier

Fix query playground
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  package-lock.json
  package.json
  preswald/interfaces/components.py
Due: black, ruff, prettier

fix(frontend): add @monaco-editor/react dependency to fix build error
  frontend/package-lock.json
  frontend/package.json
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: prettier

added export feature for pdf and html
  CONTRIBUTING.md
  preswald/cli.py
  preswald/util/__init__.py
  preswald/util/exporter.py
  setup.py
Due: black, ruff

added workbook.md again
  preswald/cli.py
Due: black, ruff

feat: update GraphQL integration in docs and data management
  docs/configuration.mdx
  docs/usage/examples.mdx
  examples/graphql-support/.gitignore
  examples/graphql-support/README.md
  examples/graphql-support/data/sample.csv
  examples/graphql-support/hello.py
  examples/graphql-support/images/favicon.ico
  examples/graphql-support/images/logo.png
  examples/graphql-support/preswald.toml
  examples/graphql-support/pyproject.toml
  examples/graphql-support/queries/get_countries.graphql
  preswald/engine/managers/data.py
Due: black, ruff

Added export pdf feature
  preswald/cli.py
  preswald/utils/__init__.py
  preswald/utils/exporter.py
Due: black, ruff

Updated docs with removed view component
  docs/sdk/get_df.mdx
  docs/sdk/playground.mdx
  docs/sdk/query.mdx
  docs/usage/examples.mdx
Due: none

Added unit tests for validate_slug function in utils.py
  tests/preswald/test_utils.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
