Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Move from example to community_gallery
  community_gallery/student_performance/README.md
  community_gallery/student_performance/hello.py
Due: black, ruff

Added World Happiness Report example to community_gallery
  community_gallery/world_happiness/.gitignore
  community_gallery/world_happiness/README.md
  community_gallery/world_happiness/hello.py
  community_gallery/world_happiness/images/favicon.ico
  community_gallery/world_happiness/images/logo.png
  community_gallery/world_happiness/preswald.toml
  community_gallery/world_happiness/pyproject.toml
Due: black, ruff

Removed unnecessary student performance example files
  examples/student_performance/README.md
  examples/student_performance/data/student.csv
  examples/student_performance/hello.py
Due: black, ruff

Add toml files
  community_gallery/student_performance/preswald.toml
  community_gallery/student_performance/pyproject.toml
Due: none

feat: ecommerce example
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/.gitignore
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/README.md
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/hello.py
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/images/favicon.ico
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/images/logo.png
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/preswald.toml
  community_gallery/ecommerce_(swiggy-zomato-blinkit)/pyproject.toml
Due: black, ruff

AI-Powered Job Market Insights Dashboard
  community_gallery/job_market_dashboard/.gitignore
  community_gallery/job_market_dashboard/README.md
  community_gallery/job_market_dashboard/hello.py
  community_gallery/job_market_dashboard/images/favicon.ico
  community_gallery/job_market_dashboard/images/logo.png
  community_gallery/job_market_dashboard/preswald.toml
  community_gallery/job_market_dashboard/pyproject.toml
  community_gallery/job_market_dashboard/requirements.txt
Due: black, ruff

Update community_gallery
  community_gallery/job_market_dashboard/README.md
Due: none

Create file.md
  community_gallery/Formula_One_Analysis/file.md
Due: none

Add files via upload
  community_gallery/Formula_One_Analysis/README.md
  community_gallery/Formula_One_Analysis/hello.py
  community_gallery/Formula_One_Analysis/preswald.toml
  community_gallery/Formula_One_Analysis/pyproject.toml
  community_gallery/Formula_One_Analysis/secrets.toml
Due: black, ruff

Create file.md
  community_gallery/Formula_One_Analysis/data/file.md
Due: none

Add files via upload
  community_gallery/Formula_One_Analysis/data/full_results_with_names.csv
  community_gallery/Formula_One_Analysis/data/sample.csv
Due: none

Files added
  community_gallery/Formula_One_Analysis/data/file.md
  community_gallery/Formula_One_Analysis/file.md
  community_gallery/Formula_One_Analysis/images/favicon.ico
  community_gallery/Formula_One_Analysis/images/logo.png
Due: none

files added
  community_gallery/Formula_One_Analysis/.gitignore
  community_gallery/Formula_One_Analysis/README.md
  community_gallery/Formula_One_Analysis/hello.py
  community_gallery/Formula_One_Analysis/images/favicon.ico
  community_gallery/Formula_One_Analysis/images/logo.png
  community_gallery/Formula_One_Analysis/preswald.toml
  community_gallery/Formula_One_Analysis/pyproject.toml
Due: black, ruff

remove toml from setupfile
  setup.py
Due: black

change all toml to toml and also when tomli try to load config file replaced the place try to load with byteobject and use file handler
  preswald/cli.py
  preswald/deploy.py
  preswald/engine/managers/branding.py
  preswald/engine/managers/data.py
  preswald/utils.py
Due: black, ruff

fix config name in cli
  preswald/cli.py
Due: black, ruff

Add software-salaries assessment project
  community_gallery/software-salaries/README.md
  community_gallery/software-salaries/hello.py
Due: black, ruff

feat: added template folder
  community_gallery/fake-news/.gitignore
  community_gallery/fake-news/README.md
  community_gallery/fake-news/hello.py
  community_gallery/fake-news/images/favicon.ico
  community_gallery/fake-news/images/logo.png
  community_gallery/fake-news/preswald.toml
  community_gallery/fake-news/pyproject.toml
Due: black, ruff

Expose dummy deploy function
  preswald/browser/entrypoint.py
Due: black, ruff

README for Amazon Product Reviews
  community_gallery/Amazon_Product_Reviews/README.md
Due: none

Added hello.py
  community_gallery/Amazon_Product_Reviews/hello.py
Due: black, ruff

Instruction update for data upload
  community_gallery/Amazon_Product_Reviews/README.md
Due: none

Create placeholder data folder
  community_gallery/Amazon_Product_Reviews/data/.gitignore
Due: none

Lance Coding Assignment
  community_gallery/titanic2/README.md
  community_gallery/titanic2/hello.py
Due: black, ruff

High Diamond assignment complete
  community_gallery/highdiamond/.gitignore
  community_gallery/highdiamond/README.md
  community_gallery/highdiamond/hello.py
  community_gallery/highdiamond/images/favicon.ico
  community_gallery/highdiamond/images/logo.png
  community_gallery/highdiamond/preswald.toml
  community_gallery/highdiamond/pyproject.toml
Due: black, ruff

Fantasy Football PR
  community_gallery/fantasy_football/.gitignore
  community_gallery/fantasy_football/README.md
  community_gallery/fantasy_football/hello.py
  community_gallery/fantasy_football/images/favicon.ico
  community_gallery/fantasy_football/images/logo.png
  community_gallery/fantasy_football/preswald.toml
  community_gallery/fantasy_football/pyproject.toml
Due: black, ruff

theme
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/widgets/AlertWidget.jsx
  frontend/src/components/widgets/mode-toggle.tsx
  frontend/src/components/widgets/theme-provider.tsx
  frontend/tsconfig.json
Due: prettier

Update community gallery - github issue visualisation
  community_gallery/github-issues/.gitignore
  community_gallery/github-issues/README.md
  community_gallery/github-issues/hello.py
  community_gallery/github-issues/images/favicon.ico
  community_gallery/github-issues/images/logo.png
  community_gallery/github-issues/preswald.toml
  community_gallery/github-issues/pyproject.toml
Due: black, ruff

Added nfl_fantasy to community_gallery
  community_gallery/nfl_fantasy/README.md
  community_gallery/nfl_fantasy/hello.py
Due: black, ruff

Create README.md
  community_gallery/Top 10 Football Players Stats/README.md
Due: none

Added files
  community_gallery/Top 10 Football Players Stats/hello.py
  community_gallery/Top 10 Football Players Stats/preswald.toml
  community_gallery/Top 10 Football Players Stats/pyproject.toml
  community_gallery/Top 10 Football Players Stats/requirements.txt
  community_gallery/Top 10 Football Players Stats/secrets.toml
Due: black, ruff

Added Final_players_stats.csv
  community_gallery/Top 10 Football Players Stats/data/Final_players_stats.csv
Due: none

Added ice cream project code to examples
  examples/IceCreamAnalysis/.gitignore
  examples/IceCreamAnalysis/README.md
  examples/IceCreamAnalysis/data/ice_data.csv
  examples/IceCreamAnalysis/hello.py
  examples/IceCreamAnalysis/images/favicon.ico
  examples/IceCreamAnalysis/images/logo.png
  examples/IceCreamAnalysis/preswald.toml
  examples/IceCreamAnalysis/pyproject.toml
Due: black, ruff

done
  .gitignore
Due: none

automated EDA and Chatting with your stock
  community_gallery/chat_with_your_stocks/.gitignore
  community_gallery/chat_with_your_stocks/README.md
  community_gallery/chat_with_your_stocks/hello.py
  community_gallery/chat_with_your_stocks/hello_copy.py
  community_gallery/chat_with_your_stocks/images/favicon.ico
  community_gallery/chat_with_your_stocks/images/logo.png
  community_gallery/chat_with_your_stocks/preswald.toml
  community_gallery/chat_with_your_stocks/pyproject.toml
  community_gallery/chat_with_your_stocks/sample.db
Due: black, ruff

secrets to gitignore
  .gitignore
Due: none

Add files via upload
  community_gallery/heart_desease_dataset/README.md
  community_gallery/heart_desease_dataset/data/heart.csv
  community_gallery/heart_desease_dataset/hello.py
  community_gallery/heart_desease_dataset/images/favicon.ico
  community_gallery/heart_desease_dataset/images/logo.png
  community_gallery/heart_desease_dataset/preswald.toml
  community_gallery/heart_desease_dataset/pyproject.toml
  community_gallery/heart_desease_dataset/secrets.toml
Due: black, ruff

Create README.md
  community_gallery/yeast_analysis_example/README.md
Due: none

Create hello.py
  community_gallery/yeast_analysis_example/hello.py
Due: black, ruff

Add files via upload
  community_gallery/yeast_analysis_example/data/sample.csv
Due: none
