Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

fix(frontend): add prop type validation to FastplotlibWidget
  frontend/src/components/widgets/FastplotlibWidget.jsx
Due: prettier

style: minor whitespace changes
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
Due: prettier

Added Alzheimer's Data Explorer example to community_gallery
  community_gallery/alzheimers_data_explorer/README.md
  community_gallery/alzheimers_data_explorer/hello.py
Due: black, ruff

style(fastplotlib): eslint whitespace
  frontend/src/components/widgets/FastplotlibWidget.jsx
Due: prettier

Added Spotify Analysis to community_gallery
  community_gallery/spotify/README.md
  community_gallery/spotify/hello.py
  community_gallery/spotify/preswald.toml
  community_gallery/spotify/pyproject.toml
Due: black, ruff

ev.population project added
  community_gallery/ev-population-analytics/.gitignore
  community_gallery/ev-population-analytics/README.md
  community_gallery/ev-population-analytics/community_gallery/ev-population-analytics example.png
  community_gallery/ev-population-analytics/hello.py
  community_gallery/ev-population-analytics/images/favicon.ico
  community_gallery/ev-population-analytics/images/logo.png
  community_gallery/ev-population-analytics/preswald.toml
  community_gallery/ev-population-analytics/pyproject.toml
  community_gallery/ev-population-analytics/requirements.txt
Due: black, ruff

refactor: move fastplotlib to alphabetical order in components
  preswald/interfaces/components.py
  setup.py
Due: black, ruff

perf(fastplotlib): use np.asarray to avoid unnecessary copies when processing inputs
  preswald/interfaces/components.py
Due: black, ruff

refactor(fastplotlib): replace private _subplots access with public subplot reference
  preswald/interfaces/components.py
Due: black, ruff

Added workout dataset analysis example to community_gallery
  community_gallery/megaGymDataset/README.md
  community_gallery/megaGymDataset/hello.py
Due: black, ruff

Add interactive startup growth and investment analysis app
  community_gallery/startups-and-investments/README.md
  community_gallery/startups-and-investments/hello.py
Due: black, ruff

feat: add fastplotlib component with example
  examples/fastplotlib/.gitignore
  examples/fastplotlib/README.md
  examples/fastplotlib/data/iris.csv
  examples/fastplotlib/hello.py
  examples/fastplotlib/images/favicon.ico
  examples/fastplotlib/images/logo.png
  examples/fastplotlib/preswald.toml
  examples/fastplotlib/pyproject.toml
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Happiness Visualization Dashboard - Hriday Chhabria adding to Community Gallery
  community_gallery/happiness_report/README.md
  community_gallery/happiness_report/hello.py
  community_gallery/happiness_report/images/favicon.ico
  community_gallery/happiness_report/images/logo.png
  community_gallery/happiness_report/preswald.toml
  community_gallery/happiness_report/pyproject.toml
  community_gallery/happiness_report/secrets.toml
Due: black, ruff

added walmart_customer_ purchases
  community_gallery/walmart_customer_purchases/README.md
  community_gallery/walmart_customer_purchases/hello.py
  community_gallery/walmart_customer_purchases/preswald.toml
  community_gallery/walmart_customer_purchases/pyproject.toml
Due: black, ruff

added walmart_customer_ purchases and modified README.md
  community_gallery/walmart_customer_purchases/README.md
Due: none

Add matplotlib component
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/MatplotlibWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Create preswald.toml
  community_gallery/netflix_analysis/preswald.toml
Due: none

Added us-stock-market in community_gallery, developed by Nayan Katiyara
  community_gallery/us-stock-market/README.md
  community_gallery/us-stock-market/hello.py
  community_gallery/us-stock-market/preswald.toml
  community_gallery/us-stock-market/pyproject.toml
Due: black, ruff

Create StockFlow_Assessment
  community_gallery/StockFlow_Assessment
Due: none

Delete community_gallery/StockFlow_Assessment
  community_gallery/StockFlow_Assessment
Due: none

Create README.md
  community_gallery/StockFlow_Assessment/README.md
Due: none

feat: add Fastplotlib component with websocket-powered PNG rendering
  examples/iris/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/utils/websocket.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

chore: minor cleanup and lint suppression in fastplotlib component
  examples/iris/hello.py
  preswald/interfaces/components.py
Due: black, ruff

added natality example
  community_gallery/natality/README.md
  community_gallery/natality/hello.py
Due: black, ruff

added tomls
  community_gallery/natality/.gitignore
  community_gallery/natality/preswald.toml
  community_gallery/natality/pyproject.toml
Due: none

Add files via upload
  szeged-weather/README.md
  szeged-weather/data/sample.csv
  szeged-weather/hello.py
  szeged-weather/images/favicon.ico
  szeged-weather/images/logo.png
  szeged-weather/preswald.toml
  szeged-weather/pyproject.toml
  szeged-weather/secrets.toml
Due: black, ruff

Delete szeged-weather directory
  szeged-weather/README.md
  szeged-weather/data/sample.csv
  szeged-weather/hello.py
  szeged-weather/images/favicon.ico
  szeged-weather/images/logo.png
  szeged-weather/preswald.toml
  szeged-weather/pyproject.toml
  szeged-weather/secrets.toml
Due: black, ruff

Add files via upload
  community_gallery/szeged-weather/README.md
  community_gallery/szeged-weather/data/sample.csv
  community_gallery/szeged-weather/hello.py
  community_gallery/szeged-weather/images/favicon.ico
  community_gallery/szeged-weather/images/logo.png
  community_gallery/szeged-weather/preswald.toml
  community_gallery/szeged-weather/pyproject.toml
  community_gallery/szeged-weather/secrets.toml
Due: black, ruff

feat: Add S3 Source
  preswald/engine/managers/data.py
Due: black, ruff

Added region param to fix
  preswald/engine/managers/data.py
Due: black, ruff

chore(deps): add matplotlib to core dependencies
  setup.py
Due: black

fix(setup): move fastplotlib and msgpack dependencies under server-only section
  setup.py
Due: black

feat: electric car dashboard
  community_gallery/electric_vehicle/.gitignore
  community_gallery/electric_vehicle/README.md
  community_gallery/electric_vehicle/hello.py
  community_gallery/electric_vehicle/images/favicon.ico
  community_gallery/electric_vehicle/images/logo.png
  community_gallery/electric_vehicle/preswald.toml
  community_gallery/electric_vehicle/pyproject.toml
Due: black, ruff

refactor(fastplotlib): optimize color mapping and rendering for performance and correctness
  preswald/interfaces/components.py
Due: black, ruff

style: removed whitespace to adhere to k&r style braces
  frontend/src/utils/websocket.js
Due: prettier

Add files via upload
  community_gallery/README.md
  community_gallery/hello.py
  community_gallery/preswald.toml
  community_gallery/pyproject.toml
  community_gallery/secrets.toml
Due: black, ruff

Delete community_gallery/README.md
  community_gallery/README.md
Due: none

Delete community_gallery/secrets.toml
  community_gallery/secrets.toml
Due: none

Delete community_gallery/hello.py
  community_gallery/hello.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
