Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Delete community_gallery/pyproject.toml
  community_gallery/pyproject.toml
Due: none

Delete community_gallery/preswald.toml
  community_gallery/preswald.toml
Due: none

Update components.py
  preswald/interfaces/components.py
Due: black, ruff

Create README.md
  community_gallery/FC24_Players_Dataset/README.md
Due: none

Initial implementation upload
  community_gallery/FC24_Players_Dataset/data/all_fc_24_players_small.csv
  community_gallery/FC24_Players_Dataset/hello.py
  community_gallery/FC24_Players_Dataset/images/favicon.ico
  community_gallery/FC24_Players_Dataset/images/logo.png
  community_gallery/FC24_Players_Dataset/preswald.toml
  community_gallery/FC24_Players_Dataset/pyproject.toml
  community_gallery/FC24_Players_Dataset/secrets.toml
Due: black, ruff

Create sales_data
  community_gallery/sales_data
Due: none

Delete community_gallery/sales_data
  community_gallery/sales_data
Due: none

Create readme.md
  community_gallery/sales_data/readme.md
Due: none

Update readme.md
  community_gallery/sales_data/readme.md
Due: none

Add files via upload
  community_gallery/sales_data/README.md
  community_gallery/sales_data/data/sales_data.csv
  community_gallery/sales_data/data/sample.csv
  community_gallery/sales_data/hello.py
  community_gallery/sales_data/images/favicon.ico
  community_gallery/sales_data/images/logo.png
  community_gallery/sales_data/preswald.toml
  community_gallery/sales_data/pyproject.toml
  community_gallery/sales_data/secrets.toml
Due: black, ruff

Update README.md
  community_gallery/sales_data/README.md
Due: none

image data example also works
  examples/fastplotlib/hello.py
Due: black, ruff

optimize by sending raw image bytes
  frontend/src/components/widgets/FastplotlibWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

swiss apartment dataset visualisation
  community_gallery/Swiss_Apartment_Models/README.md
  community_gallery/Swiss_Apartment_Models/hello.py
  community_gallery/Swiss_Apartment_Models/images/banner.png
  community_gallery/Swiss_Apartment_Models/images/example.png
  community_gallery/Swiss_Apartment_Models/images/favicon.ico
  community_gallery/Swiss_Apartment_Models/images/logo.png
  community_gallery/Swiss_Apartment_Models/preswald.toml
  community_gallery/Swiss_Apartment_Models/pyproject.toml
  community_gallery/Swiss_Apartment_Models/requirements.txt
  community_gallery/Swiss_Apartment_Models/secrets.toml
Due: black, ruff

Update README.md
  community_gallery/Swiss_Apartment_Models/README.md
Due: none

add: playground component in preswald
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff

add: playground frontend widget
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
Due: prettier

add: documentation for playground component
  docs/images/playground.png
  docs/sdk/playground.mdx
Due: none

add: tutorial for playground
  preswald/tutorial/hello.py
Due: black, ruff

AG-grid integration
  frontend/src/components/widgets/TableViewerWidget.jsx
Due: prettier

Add GitHub Repo Analyzer
  community_gallery/repo_analyzer/.gitignore
  community_gallery/repo_analyzer/README.md
  community_gallery/repo_analyzer/data.py
  community_gallery/repo_analyzer/hello.py
  community_gallery/repo_analyzer/images/favicon.ico
  community_gallery/repo_analyzer/images/logo.png
  community_gallery/repo_analyzer/preswald.toml
  community_gallery/repo_analyzer/pyproject.toml
Due: black, ruff

simplify frontend build process
  frontend/public/favicon.ico
  frontend/vite.config.js
  setup.py
Due: black, prettier

skipping npm install doesnt make a big difference
  setup.py
Due: black

remove copy_assets function
  setup.py
Due: black

feat(fastplotlib): improve rendering and simplify widget implementation
  examples/iris/hello.py
  frontend/src/components/widgets/FastplotlibWidget.jsx
  preswald/interfaces/components.py
  setup.py
Due: black, ruff, prettier

feat(fastplotlib): improve async image updates and UI stability
  frontend/src/components/widgets/FastplotlibWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

style: fix linting issues and improve formatting
  examples/iris/hello.py
  frontend/src/components/widgets/FastplotlibWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

docs: update Fastplotlib feature description in README and introduction
  README.md
  docs/introduction.mdx
Due: none

Create README.md
  community_gallery/grammy_winners_analysis/README.md
Due: none

Add files via upload
  community_gallery/grammy_winners_analysis/hello.py
Due: black, ruff

Create data
  community_gallery/grammy_winners_analysis/data
Due: none

Delete community_gallery/grammy_winners_analysis/data
  community_gallery/grammy_winners_analysis/data
Due: none

Create grammy_winners.csv
  community_gallery/grammy_winners_analysis/data/grammy_winners.csv
Due: none

Update grammy_winners.csv
  community_gallery/grammy_winners_analysis/data/grammy_winners.csv
Due: none

Update README.md
  community_gallery/grammy_winners_analysis/README.md
Due: none

Update hello.py
  community_gallery/grammy_winners_analysis/hello.py
Due: black, ruff

add nodemon to watch and rebuild frontend
  frontend/package-lock.json
  frontend/package.json
  setup.py
Due: black, prettier

commit2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/TableViewerWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

add watch option to build_frontend
  setup.py
Due: black
