Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

feat(runtime): refine reactive rerun, logging, and AST transformer
  preswald/engine/base_service.py
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/workflow.py
Due: black, ruff

refactor(reactivity): improve logging, comments, and safety across reactive runtime
  preswald/interfaces/dependency_tracker.py
  preswald/interfaces/reactive.py
  preswald/interfaces/tracked_value.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

chore(logging): optimize render tracking logs for debug mode
  preswald/engine/render_tracking.py
Due: black, ruff

adding pdf widget, fixed json id gen
  docs/configuration.mdx
  examples/document/.gitignore
  examples/document/README.md
  examples/document/data/iris.csv
  examples/document/docs/sample.pdf
  examples/document/hello.py
  examples/document/images/favicon.ico
  examples/document/images/logo.png
  examples/document/preswald.toml
  examples/document/pyproject.toml
  examples/user_event/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/DocumentWidget.jsx
  frontend/tsconfig.json
  preswald/engine/managers/data.py
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/interfaces/data.py
Due: black, ruff, prettier

Fix: Cleanup of example apps and tutorial, added axis labels.
  community_gallery/earthquakes/hello.py
  community_gallery/travel/hello.py
Due: black, ruff

Add ability to connect via source path
  docs/sdk/get_df.mdx
  docs/sdk/query.mdx
  preswald/engine/managers/data.py
Due: black, ruff

Fixed callsite detection to work inside pyodide
  preswald/utils.py
Due: black, ruff

Remove 'Built by Preswald' branding if and ONLY if the app is being rendered through pyodide
  frontend/src/components/Layout.jsx
Due: prettier

feat(runtime): improve reactive DAG tracking, atom execution, and diagnostics
  preswald/engine/base_service.py
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/dependency_tracker.py
  preswald/interfaces/reactive.py
  preswald/interfaces/tracked_value.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

refactor(service): update force_recompute to accept atom names directly
  preswald/engine/base_service.py
Due: black, ruff

refactor(transformer): replace top-level atom calls with workflow.execute()
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

fix(table): ensure TableViewerWidget updates when rowData changes
  frontend/src/components/DynamicComponents.jsx
  frontend/src/utils/dataProcessing.js
Due: prettier

feat(runtime): add runtime reactivity toggle with safe fallback execution
  preswald/engine/base_service.py
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/workflow.py
Due: black, ruff

refactor(runtime): skip reactive transform if reactivity is disabled
  preswald/engine/runner.py
Due: black, ruff

refactor(utils): improve generate_stable_id robustness and type annotations
  preswald/utils.py
Due: black, ruff

fix: resolve style and import issues in workflow and reactive components
  preswald/engine/render_tracking.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/dependency_tracker.py
  preswald/interfaces/reactive.py
  preswald/interfaces/tracked_value.py
  preswald/interfaces/workflow.py
Due: black, ruff

Replacing writing to site-packages with read check
  preswald/main.py
Due: black, ruff

fix: update MemoizedComponent render logic and pass re-render flag from backend
  frontend/src/components/DynamicComponents.jsx
  preswald/utils.py
Due: black, ruff, prettier

fix: updated logo and favicon handling to correctly set paths in branding configuration
  preswald/engine/managers/branding.py
Due: black, ruff

Moved katex css import to html link tag to avoid bloating bundle
  frontend/index.html
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
Due: prettier

refactor: remove unused reactive system and auto-wrapping support
  preswald/engine/runner.py
  preswald/interfaces/dependency_tracker.py
  preswald/interfaces/reactive.py
Due: black, ruff

fix(render_tracking): support stable component IDs using `identifier` param
  preswald/engine/render_tracking.py
Due: black, ruff

docs(coreconcepts): document reactive fallback behavior and `identifier` usage
  docs/coreconcepts.mdx
Due: none

chore(logging): guard verbose debug logs in ScriptRunner and WorkflowContext
  preswald/engine/runner.py
  preswald/interfaces/workflow.py
Due: black, ruff

docs(workflow): document automatic lifting of top-level components into atoms
  docs/sdk/workflow.mdx
Due: none

feat(config): add support for disabling reactivity via preswald.toml
  docs/configuration.mdx
  preswald/engine/runner.py
  preswald/main.py
  preswald/utils.py
Due: black, ruff

Fix playwright dependency and add documentation for pdf export
  docs/cli/export.mdx
  preswald/utils.py
  pyproject.toml
Due: black, ruff

chore: remove unused code and cleanup redundant utilities
  frontend/src/components/DynamicComponents.jsx
  frontend/src/utils/dataProcessing.js
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff, prettier

Update hello.py.template
  preswald/templates/default/hello.py.template
Due: none

feat: upload-to-pypi target
  .gitignore
  Makefile
Due: none

feat: pre-release workflow
  .github/workflows/deployment_autotests.yaml
  .github/workflows/pre-release.yml
  Makefile
Due: none

feat: upload-static-to-gcs target
  .github/workflows/pre-release.yml
  Makefile
Due: none

feat: Add release workflow
  .github/workflows/release.yml
Due: none

fix: update pypi env var
  .github/workflows/release.yml
Due: none

Add: Native support for GeoJSON via geopandas with dashboard example
  examples/geo/.gitignore
  examples/geo/README.md
  examples/geo/data/monuments_geo.geojson
  examples/geo/hello.py
  examples/geo/images/favicon.ico
  examples/geo/images/logo.png
  examples/geo/preswald.toml
  examples/geo/pyproject.toml
  preswald/engine/managers/data.py
Due: black, ruff

refactor(virtual_service): improve JS communication and logging in VirtualWebSocket
  preswald/browser/virtual_service.py
Due: black, ruff

feat: update release workflow to push changes to repo
  .github/workflows/release.yml
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
