Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

Updated md for contributer/user facing documentation
  CONTRIBUTING.md
  README.md
Due: none

Updated pr template
  .github/pull_request_template.md
Due: none

feat: Add preswald deployments cli cmdn
  preswald/cli.py
  preswald/deploy.py
Due: black, isort, ruff

feat: Make view() collapsible
  frontend/src/components/widgets/TableViewerWidget.jsx
Due: none

Moved around serializer, llm, connections_manager into engine
  preswald/engine/celery_engine.py
  preswald/engine/connections_manager.py
  preswald/engine/llm.py
  preswald/engine/utils.py
  preswald/llm.py
  preswald/serializer.py
Due: black, isort, ruff

Create managers directory
  preswald/engine/celery.py
  preswald/engine/managers/branding.py
  preswald/engine/managers/connections.py
  preswald/engine/managers/layout.py
  preswald/engine/service.py
  preswald/main.py
Due: black, isort, ruff

Added prettier to pre-commit-hooks
  .pre-commit-config.yaml
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Content.jsx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/components/common/Tooltip.jsx
  frontend/src/components/pages/ComponentShowcase.jsx
  frontend/src/components/pages/Connections.jsx
  frontend/src/components/pages/Dashboard.jsx
  frontend/src/components/widgets/AlertWidget.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/CheckboxWidget.jsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
  frontend/src/config/features.js
  frontend/src/lib/utils.js
  frontend/src/main.jsx
  frontend/src/styles.css
  frontend/src/utils/dataProcessing.js
  frontend/src/utils/websocket.js
Due: none

Add duckdb dep and modernize pyproject
  pyproject.toml
  setup.py
Due: black, isort

feat: Add preswald stop hello.py --target gcp
  preswald/cli.py
  preswald/deploy.py
Due: black, isort, ruff

deleted template README
  frontend/README.md
Due: none

refactor: del core.py + remove query, summary, save on connections
  preswald/core.py
  preswald/interfaces/__init__.py
  preswald/interfaces/data.py
Due: black, isort, ruff

removed broken eslint flag
  frontend/package.json
Due: none

create music example
  examples/music/README.md
  examples/music/data/most_streamed_spotify_songs_2024.csv
  examples/music/hello.py
  examples/music/images/favicon.ico
  examples/music/images/logo.png
  examples/music/preswald.toml
  examples/music/pyproject.toml
Due: black, isort, ruff

move data to cloud
  examples/music/data/most_streamed_spotify_songs_2024.csv
  examples/music/hello.py
Due: black, isort, ruff

doc: fix the example run command
  CONTRIBUTING.md
Due: none

feat: create netflix example
  examples/netflix/.gitignore
  examples/netflix/README.md
  examples/netflix/data/netflix_titles.csv
  examples/netflix/hello.py
  examples/netflix/images/favicon.ico
  examples/netflix/images/logo.png
  examples/netflix/preswald.toml
  examples/netflix/pyproject.toml
Due: black, isort, ruff

feat: update README
  examples/netflix/README.md
Due: none

feat: added ci file
  .github/workflows/ci.yml
Due: none

Fix #56: Allowed to change port
  preswald/main.py
Due: black, isort, ruff

Fix #56: Modified frontend as well because it has hardcoded value
  frontend/vite.config.js
  preswald/cli.py
  preswald/main.py
Due: black, isort, ruff

Finalized frontend and backend changes for adding matplotlib support
  .pre-commit-config.yaml
  examples/matplotlib-test/hello.py
  examples/matplotlib-test/secrets.toml
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, isort, ruff

Remove component showcase
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/pages/ComponentShowcase.jsx
Due: none

Clean up Definitions page
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/example_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/test_request.md
  .github/pull_request_template.md
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  examples/earthquakes/README.md
  examples/finance/README.md
  examples/fires/README.md
  examples/health/README.md
  examples/music/README.md
  examples/network/README.md
  examples/real_estate/README.md
  examples/voice/README.md
  examples/voice/data/asr_logs.json
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/pages/Definitions.tsx
Due: none

[Cleanup] Remove definitions page and all references
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/pages/Definitions.tsx
Due: none

[Cleanup] Remove connections page
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/pages/Connections.jsx
Due: none

remove isort and use only ruff
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
Due: black, isort

Add default sample.csv and data/ folder
  .pre-commit-config.yaml
  preswald/cli.py
  preswald/templates/hello.py.template
  preswald/templates/preswald.toml.template
Due: black, isort, ruff

Fix [UI][XXS] Make the logo in the sidebar have rounded edges #41
  frontend/src/components/Sidebar.jsx
Due: none

Fix [DevX][XXS]: Improve Output Formatting for deploy() Function in preswald/cli.py #39
  preswald/cli.py
Due: black, isort, ruff

Update cli.py
  preswald/cli.py
Due: black, isort, ruff

fix: duplicate components on reload
  preswald/engine/runner.py
  preswald/engine/service.py
Due: black, isort, ruff

Removed black in favor of ruff
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
Due: black, isort

Updated CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

Clean up connection related templates
  preswald/templates/preswald.toml.template
  preswald/templates/secrets.toml.template
Due: none

remove unused user_script.py
  user_script.py
Due: black, isort, ruff

fix: Plotly - Size customization
  preswald/interfaces/components.py
Due: black, isort, ruff

feat: Force logo/favicon to not be cached
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/TopBar.jsx
  preswald/engine/managers/branding.py
  preswald/main.py
Due: black, isort, ruff

feat: Add Built By Preswald
  frontend/src/components/Sidebar.jsx
  frontend/src/components/ui/scroll-area.tsx
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
