Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Create README.md
  community_gallery/finance_data_app/README.md
Due: none

Update README.md
  community_gallery/finance_data_app/README.md
Due: none

pushing data to remote
  .gitignore
  community_gallery/child_bmi_yearly/data/BMIData.csv
Due: none

Add World Happiness Explorer to community_gallery
  community_gallery/world_happiness_report/README.md
  community_gallery/world_happiness_report/hello.py
Due: black, ruff

Updated README.md - Het Assesment
  community_gallery/sharktank/README.md
Due: none

adjusted readme once more to conform to submission guidelines
  community_gallery/child_bmi_yearly/README.md
Due: none

fixed a typo
  community_gallery/child_bmi_yearly/README.md
Due: none

update data World Happiness Explorer
  community_gallery/world_happiness_report/data/happiness_2023.csv
Due: none

init commit
  community_gallery/pro_cyclists/.gitignore
  community_gallery/pro_cyclists/README.md
  community_gallery/pro_cyclists/fetch.py
  community_gallery/pro_cyclists/images/favicon.ico
  community_gallery/pro_cyclists/images/logo.png
  community_gallery/pro_cyclists/main.py
  community_gallery/pro_cyclists/preswald.toml
  community_gallery/pro_cyclists/pyproject.toml
Due: black, ruff

Adds Soccer Player Stats Explorer entry point
  community_gallery/soccer_player_stats_explorer/README.md
  community_gallery/soccer_player_stats_explorer/hello.py
  community_gallery/soccer_player_stats_explorer/images/favicon.ico
  community_gallery/soccer_player_stats_explorer/images/logo.png
  community_gallery/soccer_player_stats_explorer/images/soccer_logo.svg
  community_gallery/soccer_player_stats_explorer/preswald.toml
  community_gallery/soccer_player_stats_explorer/pyproject.toml
  community_gallery/soccer_player_stats_explorer/secrets.toml
Due: black, ruff

Updated_Readme_with_Video_Link
  community_gallery/youtube_global_statistics/README.md
Due: none

delete redundant code in hello.py
  community_gallery/students_performance/hello.py
Due: black, ruff

adding dataset to students_performance
  community_gallery/students_performance/data/Students_Grading_Dataset.csv
Due: none

Global-Music-Streams-DarshanNere
  community_gallery/Global-Music-Streams/README.md
  community_gallery/Global-Music-Streams/Screen Recording 2025-03-16 at 5.05.22 PM.gif
  community_gallery/Global-Music-Streams/hello.py
  community_gallery/Global-Music-Streams/preswald.toml
Due: black, ruff

CSS refactor - base components
  .gitignore
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/components/pages/Dashboard.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  package-lock.json
  package.json
Due: prettier

adding pokemon power index for assesment
  community_gallery/pokemon_power_index/README.md
  community_gallery/pokemon_power_index/hello.py
Due: black, ruff

CSS refactor - widgets
  frontend/src/components.css
  frontend/src/components/widgets/AlertWidget.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/CheckboxWidget.jsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
Due: prettier

Added ufc_data submission
  community_gallery/ufc_data/.gitignore
  community_gallery/ufc_data/README.md
  community_gallery/ufc_data/hello.py
  community_gallery/ufc_data/images/favicon.ico
  community_gallery/ufc_data/images/logo.png
  community_gallery/ufc_data/preswald.toml
  community_gallery/ufc_data/pyproject.toml
Due: black, ruff

Add files via upload
  community_gallery/music_and_anxiety/README.md
  community_gallery/music_and_anxiety/data/mxmh_survey_results.csv
  community_gallery/music_and_anxiety/hello.py
  community_gallery/music_and_anxiety/images/favicon.ico
  community_gallery/music_and_anxiety/images/logo.png
  community_gallery/music_and_anxiety/preswald.toml
  community_gallery/music_and_anxiety/pyproject.toml
  community_gallery/music_and_anxiety/secrets.toml
Due: black, ruff

Add Olympic Games Analysis example to community gallery
  community_gallery/olympic_analysis/README.md
  community_gallery/olympic_analysis/hello.py
  community_gallery/olympic_analysis/preswald.toml
Due: black, ruff

added example
  community_gallery/Social Media Sentiment Analysis/README.md
  community_gallery/Social Media Sentiment Analysis/app.py
  community_gallery/Social Media Sentiment Analysis/preswald.toml
Due: black, ruff

added example
  community_gallery/Social Media Sentiment Analysis/app.py
Due: black, ruff

fixed world cloud
  community_gallery/Social Media Sentiment Analysis/app.py
Due: black, ruff

Create sample.txt
  community_gallery/motor_vehicle_collisions/data/sample.txt
Due: none

motor_vehicle_collisions files uploaded
  community_gallery/motor_vehicle_collisions/README.md
  community_gallery/motor_vehicle_collisions/hello.py
  community_gallery/motor_vehicle_collisions/preswald.toml
Due: black, ruff

data used for visualization
  community_gallery/motor_vehicle_collisions/data/Motor_Vehicle_Collisions_Clean.csv
Due: none

Update README.md
  community_gallery/motor_vehicle_collisions/README.md
Due: none

Update hello.py
  community_gallery/motor_vehicle_collisions/hello.py
Due: black, ruff

Delete community_gallery/motor_vehicle_collisions/data/sample.txt
  community_gallery/motor_vehicle_collisions/data/sample.txt
Due: none

Update preswald.toml
  community_gallery/motor_vehicle_collisions/preswald.toml
Due: none

feat: add Stack Overflow Developer Trends app with dataset filtering and visualization
  stack_overflow_developer_trends/.gitignore
  stack_overflow_developer_trends/README.md
  stack_overflow_developer_trends/hello.py
  stack_overflow_developer_trends/images/favicon.ico
  stack_overflow_developer_trends/images/logo.png
  stack_overflow_developer_trends/preswald.toml
  stack_overflow_developer_trends/pyproject.toml
  stack_overflow_developer_trends/requirements.txt
Due: black, ruff

Initial commit for Twitch Analytics Dashboard
  community_gallery/twitch_data/.gitignore
  community_gallery/twitch_data/.idea/.gitignore
  community_gallery/twitch_data/.idea/inspectionProfiles/profiles_settings.xml
  community_gallery/twitch_data/.idea/misc.xml
  community_gallery/twitch_data/.idea/modules.xml
  community_gallery/twitch_data/.idea/twitch_data.iml
  community_gallery/twitch_data/README.md
  community_gallery/twitch_data/hello.py
  community_gallery/twitch_data/images/favicon.ico
  community_gallery/twitch_data/images/logo.png
  community_gallery/twitch_data/preswald.toml
  community_gallery/twitch_data/pyproject.toml
Due: black, ruff

Add Heart Disease Predictive Analysis app example to community gallery
  community_gallery/heart-disease-analysis/README.md
  community_gallery/heart-disease-analysis/hello.py
Due: black, ruff

US educational funds visualization
  community_gallery/US-Educational-Funds/.gitignore
  community_gallery/US-Educational-Funds/README.md
  community_gallery/US-Educational-Funds/hello.py
  community_gallery/US-Educational-Funds/images/favicon.ico
  community_gallery/US-Educational-Funds/images/logo.png
  community_gallery/US-Educational-Funds/preswald.toml
  community_gallery/US-Educational-Funds/pyproject.toml
Due: black, ruff

Deleted superfluous directories
  community_gallery/twitch_data/.idea/.gitignore
  community_gallery/twitch_data/.idea/inspectionProfiles/profiles_settings.xml
  community_gallery/twitch_data/.idea/misc.xml
  community_gallery/twitch_data/.idea/modules.xml
  community_gallery/twitch_data/.idea/twitch_data.iml
Due: none

Added extra details in Readme file
  community_gallery/US-Educational-Funds/README.md
Due: none

vercel deployment
  community_gallery/US-Educational-Funds/.vercel.json
  community_gallery/US-Educational-Funds/requirements.txt
Due: none

Minor fix
  community_gallery/twitch_data/hello.py
Due: black, ruff

Update README.md
  community_gallery/twitch_data/README.md
Due: none
