Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Fixed logo and favicon not rendering in pyodide/virtual service
  preswald/browser/entrypoint.py
  preswald/engine/managers/branding.py
Due: black, ruff

Fixed jsx and react bug in sidebar.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/tsconfig.json
Due: prettier

Update Documentation
  docs/cli/init.mdx
  docs/cli/tutorial.mdx
  docs/configuration.mdx
  docs/quickstart.mdx
  docs/sdk/text.mdx
Due: none

added fixes for dark theme
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/tailwind.config.js
Due: prettier

minor formattting changes
  frontend/tailwind.config.js
Due: prettier

added export feature + merge fix
  CONTRIBUTING.md
  preswald/cli.py
  preswald/util/__init__.py
  preswald/util/exporter.py
  pyproject.toml
Due: black, ruff

minor fix
  CONTRIBUTING.md
  preswald/util/exporter.py
Due: black, ruff

feat(notebook): add interactive notebook-like runtime support. Closes #540
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/components/common/HTMLRenderer.jsx
  frontend/src/components/pages/NotebookView.jsx
  frontend/src/styles.css
  frontend/src/utils/websocket.js
  package-lock.json
  package.json
  preswald/cli.py
  preswald/engine/notebook.py
  preswald/engine/server_service.py
  preswald/main.py
Due: black, ruff, prettier

feat(dag): support DAG-aware reactivity with atom re-registration and dummy fallbacks
  preswald/__init__.py
  preswald/engine/base_service.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

added the Big Number Metric Card UI Component
  docs/sdk/big_number.mdx
  docs/usage/examples.mdx
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/BigNumberCard.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

removed the size comment from big_number function
  preswald/interfaces/components.py
Due: black, ruff

changed the big number component according to rest of the component
  frontend/src/components/widgets/BigNumberCard.jsx
Due: prettier

resolved some errors in component.py file
  preswald/interfaces/components.py
Due: black, ruff

Fix sidebar logo alignment
  frontend/src/components.css
  frontend/src/components/ui/sidebar.tsx
Due: prettier

Fixed initial table view
  frontend/src/components/widgets/TableViewerWidget.jsx
Due: prettier

Simplified serialization process
  preswald/interfaces/components.py
Due: black, ruff

give button random state
  preswald/interfaces/components.py
Due: black, ruff

ruff
  preswald/interfaces/components.py
Due: black, ruff

feat: introduced 'tab' component for more organized UI
  examples/iris/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/widgets/TabWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

added vega-lite support
  examples/iris/hello.py
Due: black, ruff

minor-fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/MosaicWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

feat(SliderWidget): implement debounced onChange handler for improved performance
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/SliderWidget.jsx
Due: prettier

feat(ChatWidget): add markdown table+code rendering for bot messages
  frontend/src/components/widgets/ChatWidget.jsx
  package-lock.json
  package.json
Due: prettier

add random state to button, hotfix for rerendering downstream components
  preswald/interfaces/components.py
Due: black, ruff

example, one downstream atom
  examples/lego-challenge/data/lego_pile_reduced.csv
  examples/lego-challenge/hello.py
  examples/lego-challenge/images/favicon.ico
  examples/lego-challenge/images/lego-head.ico
  examples/lego-challenge/images/silly-goose-logo.png
  examples/lego-challenge/preswald.toml
Due: black, ruff

cleanup unused image
  examples/lego-challenge/images/favicon.ico
Due: none

flexible state designation from component defs
  frontend/src/App.jsx
  frontend/src/utils/websocket.js
  preswald/engine/base_service.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

refactor to test multiple downstream atoms
  examples/lego-challenge/hello.py
Due: black, ruff

random state only when reclickable to use cached values when not reclicking
  preswald/interfaces/components.py
Due: black, ruff

add states for other components, fixes issue with slider in tutorial
  preswald/interfaces/components.py
Due: black, ruff

some documentation
  preswald/interfaces/components.py
Due: black, ruff

a bit more documentation
  docs/addnewcomponent.mdx
Due: none

get correct button value regardless of can_be_reclicked
  preswald/interfaces/components.py
Due: black, ruff

feat(runtime): enable reactive reruns by patching layout instead of full reruns
  preswald/engine/base_service.py
  preswald/engine/managers/layout.py
  preswald/engine/runner.py
  preswald/interfaces/component_return.py
  preswald/interfaces/components.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

style(components): clean up imports and modernize type hints
  preswald/interfaces/components.py
Due: black, ruff

refactor(core): simplify type annotations and streamline DAG handling
  preswald/engine/managers/layout.py
  preswald/engine/runner.py
  preswald/engine/server_service.py
  preswald/interfaces/component_return.py
  preswald/interfaces/workflow.py
Due: black, ruff

further fix button value - undo hardcoded state, other small stuff
  examples/lego-challenge/hello.py
  examples/lego-challenge/preswald.toml
  frontend/src/App.jsx
  frontend/src/components/DynamicComponents.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

remove images
  examples/lego-challenge/images/lego-head.ico
  examples/lego-challenge/images/silly-goose-logo.png
  examples/lego-challenge/preswald.toml
Due: none

chore: save Firebase docs + loader changes before rebase
  docs/configuration.mdx
  docs/data-sources.mdx
  preswald/engine/managers/data.py
Due: black, ruff

adding pdf widget, fixed json id gen
  docs/configuration.mdx
  examples/document/.gitignore
  examples/document/README.md
  examples/document/data/iris.csv
  examples/document/docs/sample.pdf
  examples/document/hello.py
  examples/document/images/favicon.ico
  examples/document/images/logo.png
  examples/document/preswald.toml
  examples/document/pyproject.toml
  examples/user_event/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/DocumentWidget.jsx
  frontend/tsconfig.json
  preswald/engine/managers/data.py
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/interfaces/data.py
Due: black, ruff, prettier
