Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

fix(chat): restore AI responses by passing correct id to ChatWidget
  frontend/src/components/DynamicComponents.jsx
Due: prettier

feat: update frontend communication layer - should take url arg to preswald server
  frontend/src/utils/websocket.js
Due: prettier

resolve: code review comments
  frontend/src/App.jsx
  frontend/src/utils/websocket.js
  preswald/engine/base_service.py
Due: black, ruff, prettier

fix: resolve commlink behavior between server and worker
  frontend/src/utils/websocket.js
  preswald/browser/boot.js
  preswald/utils.py
Due: black, ruff, prettier

fix(generic): prevent infinite recursion in generic component fallback
  preswald/interfaces/components.py
Due: black, ruff

resolved the issue to export app, it requred --format argument which is now set to default html
  preswald/cli.py
Due: black, ruff

Fix: Complete dark theme support for TableViewerWidget
  frontend/src/components/widgets/TableViewerWidget.jsx
Due: prettier

feat: Enhance logging with detailed timestamps including milliseconds
  README.md
  preswald/utils.py
Due: black, ruff

add encoding support for CSV files
  .idea/.gitignore
  documentation/configuration.mdx
  preswald/engine/managers/data.py
  preswald/tutorial/preswald.toml
  simple_encoding_test.py
  test_encoding_fix.py
Due: black, ruff

fix(docs): clarify required --format flag for preswald export
  README.md
Due: none

local log error (not found) fix
  autotest/deployments/local/test.sh
Due: none

fix: prevent reloading chat widget after adding api key
  frontend/src/components/widgets/ChatWidget.jsx
Due: prettier

template click argument added
  preswald/cli.py
  preswald/templates/hello.py.template
  preswald/templates/preswald.toml.template
  preswald/templates/sample.csv.template
  preswald/templates/secrets.toml.template
Due: black, ruff

update gitignore for templates folder
  .gitignore
  preswald/templates/default/hello.py.template
  preswald/templates/default/preswald.toml.template
  preswald/templates/default/sample.csv.template
  preswald/templates/default/secrets.toml.template
Due: none

Set NODE_OPTIONS environment variable for npm commands
  preswald/build.py
Due: black, ruff

pass the updated environment to the _run_npm_command function
  preswald/build.py
Due: black, ruff

added the required templates
  preswald/templates/csv-dashboard/data/sample.csv.template
  preswald/templates/csv-dashboard/hello.py.template
  preswald/templates/csv-dashboard/preswald.toml.template
  preswald/templates/csv-dashboard/secrets.toml.template
  preswald/templates/default copy 2/data/sample.csv.template
  preswald/templates/default copy 2/hello.py.template
  preswald/templates/default copy 2/preswald.toml.template
  preswald/templates/default copy 2/secrets.toml.template
  preswald/templates/default copy 3/data/sample.csv.template
  preswald/templates/default copy 3/hello.py.template
  preswald/templates/default copy 3/preswald.toml.template
  preswald/templates/default copy 3/secrets.toml.template
  preswald/templates/default copy/data/sample.csv.template
  preswald/templates/default copy/hello.py.template
  preswald/templates/default copy/preswald.toml.template
  preswald/templates/default copy/secrets.toml.template
  preswald/templates/default/data/sample.csv.template
Due: none

directories updated
  preswald/templates/comparison/data/sample.csv.template
  preswald/templates/comparison/hello.py.template
  preswald/templates/comparison/preswald.toml.template
  preswald/templates/comparison/secrets.toml.template
  preswald/templates/geojson-map/data/sample.csv.template
  preswald/templates/geojson-map/hello.py.template
  preswald/templates/geojson-map/preswald.toml.template
  preswald/templates/geojson-map/secrets.toml.template
  preswald/templates/time-series/data/sample.csv.template
  preswald/templates/time-series/hello.py.template
  preswald/templates/time-series/preswald.toml.template
  preswald/templates/time-series/secrets.toml.template
Due: none

all templates added
  preswald/templates/comparison/data/sample.csv.template
  preswald/templates/comparison/hello.py.template
  preswald/templates/csv-dashboard/data/sample.csv.template
  preswald/templates/csv-dashboard/hello.py.template
  preswald/templates/csv-dashboard/preswald.toml.template
  preswald/templates/geojson-map/data/sample.csv.template
  preswald/templates/geojson-map/hello.py.template
  preswald/templates/geojson-map/preswald.toml.template
  preswald/templates/geojson-map/secrets.toml.template
  preswald/templates/time-series/data/sample.csv.template
  preswald/templates/time-series/hello.py.template
Due: none

implemented string literals wherever missing
  preswald/cli.py
Due: black, ruff

updated the help option
  preswald/cli.py
Due: black, ruff

feat: add MiniMax as alternative LLM provider for chat widget
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/__tests__/llm.integration.test.js
  frontend/src/services/__tests__/llm.test.js
  frontend/src/services/llm.js
  frontend/src/services/openai.js
Due: prettier

test: add ChatWidget component tests and top-level test directory
  frontend/src/__tests__/ChatWidget.test.jsx
  frontend/src/__tests__/llm.integration.test.js
  frontend/src/__tests__/llm.test.js
  frontend/vitest.config.js
  frontend/vitest.setup.js
Due: prettier

Phase 0: Cut & clean - remove ~2,300 lines of code
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  frontend/src/services/openai.js
  preswald/cli.py
  preswald/deploy.py
  preswald/engine/base_service.py
  preswald/engine/server_service.py
  preswald/engine/service.py
  preswald/engine/telemetry.py
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
  pyproject.toml
Due: black, ruff, prettier

Phase 1: Fix bugs, add test suite (89 tests), harden AST
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/interfaces/data.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_components.py
  tests/test_data.py
  tests/test_render_tracking.py
  tests/test_workflow.py
Due: black, ruff

Phase 2: Optimize Pyodide loading, add single-file export, service worker caching
  frontend/public/sw.js
  frontend/src/backend/worker.js
  frontend/src/main.jsx
  frontend/src/utils/websocket.js
  preswald/browser/boot.js
  preswald/cli.py
  preswald/utils.py
  tests/test_export.py
Due: black, ruff, prettier

Phase 3: Hot reload, error UX, type stubs
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/ErrorsReport.jsx
  preswald/interfaces/component_return.py
  preswald/interfaces/components.py
  preswald/interfaces/components.pyi
  preswald/interfaces/data.py
  preswald/main.py
  preswald/py.typed
  tests/test_phase3.py
Due: black, ruff, prettier

feat: upgrade MiniMax default model to M3
  frontend/src/__tests__/ChatWidget.test.jsx
  frontend/src/__tests__/llm.integration.test.js
  frontend/src/__tests__/llm.test.js
  frontend/src/services/__tests__/llm.integration.test.js
  frontend/src/services/__tests__/llm.test.js
  frontend/src/services/llm.js
Due: prettier

Remove legacy GitHub Pages landing site from docs/
  docs/CNAME
  docs/LICENSE
  docs/assets/banner.png
  docs/assets/favicon.ico
  docs/assets/logo.png
  docs/assets/preview.gif
  docs/assets/site.webmanifest
  docs/assets/symbol.svg
  docs/assets/yc.png
  docs/bitflip.html
  docs/index.html
  docs/styles.css
Due: none

Remove legacy GitHub Pages landing site from docs/ (#785)
  docs/CNAME
  docs/LICENSE
  docs/assets/banner.png
  docs/assets/favicon.ico
  docs/assets/logo.png
  docs/assets/preview.gif
  docs/assets/site.webmanifest
  docs/assets/symbol.svg
  docs/assets/yc.png
  docs/bitflip.html
  docs/index.html
  docs/styles.css
Due: none

fix: cap generated container name to GCP Cloud Run's service-id limit
  preswald/deploy.py
  tests/test_deploy.py
Due: black, ruff
