Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Changed openai.js to be server side
  frontend/src/services/openai.js
Due: prettier

Integrated source (csv) and OpenAI + fixed scroll issue
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

Added chats docs + modified system context
  docs/sdk/chat.mdx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

Fixed timestamp and NaT issue + tested against all the examples
  preswald/interfaces/components.py
Due: black, ruff

Update components.py
  preswald/interfaces/components.py
Due: black, ruff

Update hello.py
  examples/iris/hello.py
Due: black, ruff

Undid change to pre commit hooks
  .pre-commit-config.yaml
Due: none

Undid changes to iris example
  examples/iris/hello.py
Due: black, ruff

Integrated source (csv) and OpenAI + fixed scroll issue
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
Due: prettier

Added chats docs + modified system context
  frontend/src/services/openai.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

feat: gcp depl target autotest (#286)
  .gitignore
  autotest/deployments/gcp/test.sh
  autotest/deployments/local/test.sh
  preswald/cli.py
  preswald/deploy.py
Due: black, ruff

Update to version 0.1.43
  preswald/__init__.py
  setup.py
Due: black, ruff

feat: add standalone sidebar widget (#388)
  docs/images/sidebar.png
  docs/sdk/sidebar.mdx
  examples/iris/hello.py
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: black, ruff, prettier

`Added API data source support to DataManager`
  preswald/engine/managers/data.py
Due: black, ruff

Fixed wrapper in entrypoint
  preswald/browser/entrypoint.py
Due: black, ruff

Hack to get deploy cli to emit only preswald app url
  autotest/deployments/structured/test.sh
  preswald/cli.py
Due: black, ruff

Update to version 0.1.44
  preswald/__init__.py
  setup.py
Due: black, ruff

Updated addnewcomponent docs (#195)
  docs/addnewcomponent.mdx
Due: none

fix: ensure GitHub usernames are case insensitive in deployment (#469)
  preswald/cli.py
Due: black, ruff

Attaching branding config to window during initialization
  preswald/browser/entrypoint.py
Due: black, ruff

Delete community_gallery/heart-disease-analysis directory
  community_gallery/heart-disease-analysis/README.md
  community_gallery/heart-disease-analysis/hello.py
Due: black, ruff

Clean up unused pgs
  docs/README.md
  docs/contributing.mdx
  docs/snippets/snippet-intro.mdx
Due: none

Add Heart Disease Predictive Analysis app example to community gallery
  community_gallery/heart-disease-analysis/README.md
  community_gallery/heart-disease-analysis/hello.py
Due: black, ruff

Base version, need to process source
  .pre-commit-config.yaml
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Added chats docs + modified system context
  docs/sdk/chat.mdx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

Update components.py
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/components.py
Due: black, ruff, prettier

heart-disease-example
  community_gallery/heart-disease-analysis/README.md
  community_gallery/heart-disease-analysis/hello.py
Due: black, ruff

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Displayed table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  package-lock.json
  package.json
Due: prettier

Create hello.py
  community_gallery/titanic-dataset/hello.py
Due: black, ruff

fix(setup): add missing fastplotlib and imageio dependencies
  setup.py
Due: black

Simplified serialization process (for table and chat)
  preswald/interfaces/components.py
Due: black, ruff
