Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Add weather-sample example
  community_gallery/weather-sample/.gitignore
  community_gallery/weather-sample/README.md
  community_gallery/weather-sample/hello.py
  community_gallery/weather-sample/images/favicon.ico
  community_gallery/weather-sample/images/logo.png
  community_gallery/weather-sample/preswald.toml
  community_gallery/weather-sample/pyproject.toml
Due: black, ruff

Changed .gitignore
  .gitignore
Due: none

steps added for render deployment
  community_gallery/US-Educational-Funds/.gitignore
  community_gallery/US-Educational-Funds/.vercel.json
  community_gallery/US-Educational-Funds/README.md
  community_gallery/US-Educational-Funds/data/districts.csv
  community_gallery/US-Educational-Funds/data/naep.csv
  community_gallery/US-Educational-Funds/data/states.csv
Due: none

Initiated preswald project for amazon stocks
  community_gallery/amazon-stock-insights/.gitignore
  community_gallery/amazon-stock-insights/README.md
  community_gallery/amazon-stock-insights/images/favicon.ico
  community_gallery/amazon-stock-insights/images/logo.png
  community_gallery/amazon-stock-insights/main.py
  community_gallery/amazon-stock-insights/preswald.toml
  community_gallery/amazon-stock-insights/pyproject.toml
Due: black, ruff

OlympicAnalysisAdded
  community_gallery/OlympicAnalysis/.gitignore
  community_gallery/OlympicAnalysis/README.md
  community_gallery/OlympicAnalysis/hello.py
  community_gallery/OlympicAnalysis/images/favicon.ico
  community_gallery/OlympicAnalysis/images/logo.png
  community_gallery/OlympicAnalysis/preswald.toml
  community_gallery/OlympicAnalysis/pyproject.toml
Due: black, ruff

added deployed url and changed project struture to meet requirements
  community_gallery/amazon-stock-insights/README.md
  community_gallery/amazon-stock-insights/hello.py
  community_gallery/amazon-stock-insights/preswald.toml
Due: black, ruff

Add files via upload
  community_gallery/project_management/README.md
  community_gallery/project_management/data/project_report.csv
  community_gallery/project_management/hello.py
  community_gallery/project_management/images/favicon.ico
  community_gallery/project_management/images/logo.png
  community_gallery/project_management/preswald.toml
  community_gallery/project_management/pyproject.toml
  community_gallery/project_management/secrets.toml
Due: black, ruff

feat: add standalone sidebar widget
  examples/iris/hello.py
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Add finance-investment-app to community_gallery
  community_gallery/finance-investment-app/.gitignore
  community_gallery/finance-investment-app/README.md
  community_gallery/finance-investment-app/hello.py
  community_gallery/finance-investment-app/images/favicon.ico
  community_gallery/finance-investment-app/images/logo.png
  community_gallery/finance-investment-app/preswald.toml
  community_gallery/finance-investment-app/pyproject.toml
Due: black, ruff

fix: use defaultopen as boolean
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
Due: black, ruff, prettier

add screenshots
  community_gallery/finance-investment-app/images/Screenshot 2025-03-17 120526.png
  community_gallery/finance-investment-app/images/Screenshot 2025-03-17 120601.png
  community_gallery/finance-investment-app/images/Screenshot 2025-03-17 122810.png
Due: none

feat: add sidebar docs
  docs/images/sidebar.png
  docs/sdk/sidebar.mdx
Due: none

feat: update tutorial to add sidebar
  preswald/tutorial/hello.py
Due: black, ruff

feat: Added NVIDIA stock volatility analysis app
  community_gallery/nvidia_stock_analysis/.gitignore
  community_gallery/nvidia_stock_analysis/README.md
  community_gallery/nvidia_stock_analysis/hello.py
  community_gallery/nvidia_stock_analysis/images/favicon.ico
  community_gallery/nvidia_stock_analysis/images/logo.png
  community_gallery/nvidia_stock_analysis/preswald.toml
  community_gallery/nvidia_stock_analysis/pyproject.toml
Due: black, ruff

olympics datasets added
  community_gallery/olympics/.gitignore
  community_gallery/olympics/README.md
  community_gallery/olympics/hello.py
  community_gallery/olympics/images/favicon.ico
  community_gallery/olympics/images/logo.png
  community_gallery/olympics/preswald.toml
  community_gallery/olympics/pyproject.toml
Due: black, ruff

Manga Bestseller
  .gitignore
  README.md
  community_gallery/my_dataset_example/best-selling-manga.csv
  community_gallery/my_dataset_example/hello.py
  community_gallery/my_dataset_example/readme.md
  data/sample.csv
  hello.py
  images/favicon.ico
  images/logo.png
  preswald.toml
  pyproject.toml
Due: black, ruff

FEAT: added API as a source, but null table name still left to fix
  preswald/engine/managers/data.py
Due: black, ruff

Project by Soumyajit Maity
  community_gallery/walmart_purchase_stats/.gitignore
  community_gallery/walmart_purchase_stats/README.md
  community_gallery/walmart_purchase_stats/hello.py
  community_gallery/walmart_purchase_stats/images/favicon.ico
  community_gallery/walmart_purchase_stats/images/logo.png
  community_gallery/walmart_purchase_stats/preswald.toml
  community_gallery/walmart_purchase_stats/pyproject.toml
Due: black, ruff

Create customer_purchase_data_analysis
  community_gallery/customer_purchase_data_analysis
Due: none

Add Pixar Movies Analyzer
  examples/pixarmovies/.gitignore
  examples/pixarmovies/README.md
  examples/pixarmovies/data/pixar_movies.csv
  examples/pixarmovies/hello.py
  examples/pixarmovies/images/favicon.ico
  examples/pixarmovies/images/logo.png
  examples/pixarmovies/preswald.toml
  examples/pixarmovies/pyproject.toml
Due: black, ruff

Added customer purchase data analysis files and updated README
  community_gallery/customer_purchase_data_analysis/.gitignore
  community_gallery/customer_purchase_data_analysis/README.md
  community_gallery/customer_purchase_data_analysis/hello.py
  community_gallery/customer_purchase_data_analysis/images/favicon.ico
  community_gallery/customer_purchase_data_analysis/images/logo.png
  community_gallery/customer_purchase_data_analysis/preswald.toml
  community_gallery/customer_purchase_data_analysis/pyproject.toml
Due: black, ruff

feat: enhance data visualization and filtering in Stack Overflow Trends Explorer
  stack_overflow_developer_trends/README.md
  stack_overflow_developer_trends/hello.py
Due: black, ruff

refactor: rename hello.py to app.py and update entrypoint in preswald.toml
  stack_overflow_developer_trends/app.py
  stack_overflow_developer_trends/preswald.toml
Due: black, ruff

fix: added scipy dependency
  setup.py
Due: black

Removed topbar inclusion from layout.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/TopBar.jsx
Due: prettier

Added topbar function to components.py
  frontend/src/components/widgets/TopBar.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

Added topbar to DynamicComponents
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

Added topbar docs
  docs/docs.json
  docs/images/topbar.png
  docs/sdk/topbar.mdx
Due: none

Added topbar to interfaces/__init__.py
  preswald/interfaces/__init__.py
Due: black, ruff

Modified topbar styling
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  preswald/tutorial/hello.py
Due: black, ruff, prettier

Formatting fix
  frontend/src/components/widgets/TopbarWidget.jsx
Due: prettier

Added topbar to tutorial code
  preswald/tutorial/hello.py
Due: black, ruff

Removed references to topbar in Layout.jsx
  frontend/src/components/Layout.jsx
Due: prettier

Removed unused imports from topbar.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
Due: prettier

add grocery inventory example to community gallery
  community_gallery/grocery-inventory/README.md
  community_gallery/grocery-inventory/hello.py
  community_gallery/grocery-inventory/preswald.toml
Due: black, ruff

Create ReadMe.md
  community_gallery/Employee_well_being_analysis/ReadMe.md
Due: none

Add files via upload
  community_gallery/Employee_well_being_analysis/data/Impact_of_Remote_Work_on_Mental_Health.csv
  community_gallery/Employee_well_being_analysis/hello.py
Due: black, ruff

Added Global Music Streaming dataset example
  community_gallery/global_music_streaming_trends/README.md
  community_gallery/global_music_streaming_trends/hello.py
Due: black, ruff

Added Global Music Streaming dataset example 1
  community_gallery/global_music_streaming_trends/images/favicon.ico
  community_gallery/global_music_streaming_trends/images/icons8-international-music-48.png
  community_gallery/global_music_streaming_trends/images/logo.png
Due: none

Rebase on new frontend setup
  frontend/src/components.css
  frontend/src/components/Layout.jsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
Due: prettier
