Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

fix(utils): restore `export_app_to_pdf` function mistakenly removed during merge
  preswald/utils.py
Due: black, ruff

style(transformer): silence Ruff warnings for naming, complexity, and isinstance usage
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

docs: document automatic reactive runtime and script lifting
  docs/introduction.mdx
  docs/usage/examples.mdx
  docs/workflow/workflow.mdx
Due: none

Squashed commit of the following:
  frontend/src/components/DynamicComponents.jsx
  frontend/src/utils/dataProcessing.js
  preswald/engine/transformers/reactive_runtime.py
  preswald/utils.py
Due: black, ruff, prettier

fix(dataProcessing): remove mistakenly reintroduced areRowDataEqual function
  frontend/src/utils/dataProcessing.js
Due: prettier

fix(transformer): avoid lifting workflow bootstrap into atoms and duplicate imports
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

updated configs for file
  docs/configuration.mdx
Due: none

added logger changes to utils
  .gitignore
  .history/.pre-commit-config_20250519015457.yaml
  .history/.pre-commit-config_20250519120318.yaml
  .history/.pre-commit-config_20250519120535.yaml
  .history/.pre-commit-config_20250519120703.yaml
  .history/.pre-commit-config_20250519120704.yaml
  .history/.pre-commit-config_20250519120719.yaml
  .history/docs/configuration_20250519015457.mdx
  .history/docs/configuration_20250519115324.mdx
  .history/preswald/utils_20250519015457.py
  .history/preswald/utils_20250519115303.py
  .history/tests/test_logging_20250519115349.py
  .history/tests/test_logging_20250519115354.py
  .history/tests/test_logging_20250519115433.py
  .history/tests/test_logging_20250519115826.py
  .history/tests/test_logging_20250519120349.py
  tests/test_logging.py
Due: black, ruff

Remove .history/, .pre-commit/, and .gitignore from PR
  .gitignore
  .history/.pre-commit-config_20250519015457.yaml
  .history/.pre-commit-config_20250519120318.yaml
  .history/.pre-commit-config_20250519120535.yaml
  .history/.pre-commit-config_20250519120703.yaml
  .history/.pre-commit-config_20250519120704.yaml
  .history/.pre-commit-config_20250519120719.yaml
  .history/docs/configuration_20250519015457.mdx
  .history/docs/configuration_20250519115324.mdx
  .history/preswald/utils_20250519015457.py
  .history/preswald/utils_20250519115303.py
  .history/tests/test_logging_20250519115349.py
  .history/tests/test_logging_20250519115354.py
  .history/tests/test_logging_20250519115433.py
  .history/tests/test_logging_20250519115826.py
  .history/tests/test_logging_20250519120349.py
Due: black, ruff

Restore .gitignore and .pre-commit-config.yaml from main
  .gitignore
  .pre-commit-config.yaml
Due: none

updated tests
  .pre-commit-config.yaml
  tests/test_logging.py
Due: black, ruff

Fix issue #625: Improve DataFrame error handling with validation
  examples/bug_simulation.py
  examples/dataframe_validation_example.py
  preswald/engine/runner.py
  tests/test_dataframe_operations.py
Due: black, ruff

Add get_component method to BasePreswaldService for retrieving components by ID
  preswald/engine/base_service.py
Due: black, ruff

Update ServerPreswaldService to support component embedding
  preswald/engine/server_service.py
Due: black, ruff

Add embed mode styles to components.css
  frontend/src/components.css
Due: prettier

Update App.jsx for embed mode support
  frontend/src/App.jsx
Due: prettier

Add EmbedView component for embedded mode
  frontend/src/components/pages/EmbedView.jsx
Due: prettier

Add tests for component embedding functionality
  tests/embed_test.py
Due: black, ruff

Add example script demonstrating component embedding
  examples/embed_example.py
Due: black, ruff

Add HTML demo for embedding components in external pages
  examples/embed_demo.html
Due: none

Update CLI to support embed mode
  preswald/cli.py
Due: black, ruff

Update main server to handle embed routes
  preswald/main.py
Due: black, ruff

refactor(virtual_service): improve JS communication and logging in VirtualWebSocket
  preswald/browser/virtual_service.py
Due: black, ruff

fix(dag): ensure correct producer registration when atom returns tuple
  preswald/engine/base_service.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/workflow.py
Due: black, ruff

fix(reactive_runtime): correctly resolve atom returning tuple dependencies in AST transformation
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

Add html export
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/backend/service.js
  frontend/src/backend/worker.js
  frontend/src/components/DynamicComponents.jsx
  frontend/src/utils/websocket.js
  frontend/vite.config.js
  preswald/browser/boot.js
  preswald/browser/entrypoint.py
  preswald/browser/virtual_service.py
  preswald/cli.py
  preswald/utils.py
Due: black, ruff, prettier

feat(registry): add render registry system for stream and return-based display
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/components.py
  preswald/interfaces/render/__init__.py
  preswald/interfaces/render/registry.py
Due: black, ruff

feat(runtime): support return renderers for inferred object types
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

fix(dag): ensure full forward and backward propagation in affected atom traversal
  preswald/interfaces/workflow.py
Due: black, ruff

Create preswaldHTMLExport entrypoint for use in worker
  frontend/src/backend/worker.js
  preswald/browser/entrypoint.py
  preswald/cli.py
  preswald/utils.py
Due: black, ruff, prettier

feat: make assets urls in the build relative
  frontend/vite.config.js
Due: prettier

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
