Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

cleaning committed files
  newProj/hello.py
Due: black, ruff

feat: added JSON @dataclass
  preswald/engine/managers/data.py
Due: black, ruff

feat: added JSONSource(DataSource)
  preswald/engine/managers/data.py
Due: black, ruff

feat: handle json in connect()
  preswald/engine/managers/data.py
Due: black, ruff

Add European Football Explorer example
  community_gallery/european_football_explorer/.gitignore
  community_gallery/european_football_explorer/README.md
  community_gallery/european_football_explorer/hello.py
  community_gallery/european_football_explorer/images/favicon.ico
  community_gallery/european_football_explorer/images/logo.png
  community_gallery/european_football_explorer/preswald.toml
  community_gallery/european_football_explorer/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
Due: black, ruff, prettier

feat: add Indian Traffic Violations Analysis Dashboard
  community_gallery/Indian_Traffic_Violations/.gitignore
  community_gallery/Indian_Traffic_Violations/README.md
  community_gallery/Indian_Traffic_Violations/hello.py
  community_gallery/Indian_Traffic_Violations/images/favicon.ico
  community_gallery/Indian_Traffic_Violations/images/logo.png
  community_gallery/Indian_Traffic_Violations/preswald.toml
  community_gallery/Indian_Traffic_Violations/pyproject.toml
Due: black, ruff

fix: update loading text
  frontend/src/App.jsx
Due: prettier

feat: load_data_source() function added
  preswald/engine/managers/data.py
Due: black, ruff

docs: added documentations to configuration.mdx and examples.mdx
  docs/configuration.mdx
  docs/usage/examples.mdx
Due: none

feat: raise helpful error for malformed JSON or incorrect record_path
  preswald/engine/managers/data.py
Due: black, ruff

fix(react): resolve duplicate key warnings and sidebar portal crash
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/utils/extractKeyProps.js
Due: prettier

chore: apply Prettier formatting and lint fixes
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
Due: prettier

feat: added examples with user event json
  examples/user_event/.gitignore
  examples/user_event/README.md
  examples/user_event/data/events_flat.json
  examples/user_event/data/events_nested.json
  examples/user_event/hello.py
  examples/user_event/images/favicon.ico
  examples/user_event/images/logo.png
  examples/user_event/preswald.toml
  examples/user_event/pyproject.toml
Due: black, ruff

fix license classifier deprecation
  setup.py
Due: black

fix(server): skip script reruns when component state is unchanged
  preswald/engine/server_service.py
Due: black, ruff

better text
  .pre-commit-config.yaml
  autotest/runtest.sh
  preswald/interfaces/components.py
  tests/text/.gitignore
  tests/text/README.md
  tests/text/hello.py
  tests/text/images/favicon.ico
  tests/text/images/logo.png
  tests/text/preswald.toml
  tests/text/pyproject.toml
Due: black, ruff

reset ruff
  .pre-commit-config.yaml
Due: none

add error handling
  .pre-commit-config.yaml
  preswald/interfaces/components.py
Due: black, ruff

reset ruff lint
  .pre-commit-config.yaml
Due: none

add list error checking
  .pre-commit-config.yaml
  preswald/interfaces/components.py
Due: black, ruff

forced github_username to be all lowercase
  preswald/deploy.py
Due: black, ruff

Update README.md
  README.md
Due: none

Broken slack link
  README.md
  assets/PreswaldBanner.png
  assets/banner.png
  community_gallery/english-premier-league/README.md
  docs/docs.json
  docs/favicon.svg
  docs/logo/light.svg
Due: none

Updated AG Grid TableViewerWidget with Community features
  frontend/src/components/widgets/TableViewerWidget.jsx
  package-lock.json
  package.json
Due: prettier

delete button for data files
  frontend/src/App.jsx
  frontend/src/components/pages/DataFiles.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/utils/websocket.js
  tutorial/.gitignore
  tutorial/README.md
  tutorial/data/sample.csv
  tutorial/hello.py
  tutorial/images/favicon.ico
  tutorial/images/logo.png
  tutorial/preswald.toml
  tutorial/pyproject.toml
Due: black, ruff, prettier

delete button for data files and format fixes based on #564
  frontend/src/App.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
Due: prettier

feat: stock market analysis using Preswald
  examples/stock_analysis/.gitignore
  examples/stock_analysis/README.md
  examples/stock_analysis/data/dataset.csv
  examples/stock_analysis/hello.py
  examples/stock_analysis/preswald.toml
  examples/stock_analysis/pyproject.toml
Due: black, ruff

feat: Add scikit-learn model support as a reusable Preswald component
  examples/iris/ml/iris.py
  examples/iris/models/iris_model.pkl
  examples/iris/sklearn_example.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SklearnPredictorWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Updated docs with removed view component
  docs/sdk/get_df.mdx
  docs/sdk/query.mdx
  docs/usage/examples.mdx
Due: none

fix: linter errors
  frontend/src/App.jsx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
Due: prettier

use the configured port for local deployment
  preswald/deploy.py
Due: black, ruff

fix: reverting main branch modifications
  README.md
  community_gallery/english-premier-league/README.md
  docs/docs.json
  frontend/src/App.jsx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
Due: prettier

chore: squash recent updates (favicon, logo, readme, slack fix)
  README.md
  assets/PreswaldBanner.png
  assets/banner.png
  community_gallery/english-premier-league/README.md
  docs/docs.json
  docs/favicon.svg
  docs/logo/light.svg
Due: none

AG-grid integration (#546)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  package-lock.json
  package.json
  preswald/interfaces/components.py
Due: black, ruff, prettier

feat: Submit Stack Overflow Developer Trends Explorer for Preswald Gallery (#413)
  community_gallery/stack_overflow_developer_trends/README.md
  community_gallery/stack_overflow_developer_trends/app.py
  community_gallery/stack_overflow_developer_trends/images/favicon.ico
  community_gallery/stack_overflow_developer_trends/images/logo.png
  community_gallery/stack_overflow_developer_trends/preswald.toml
  community_gallery/stack_overflow_developer_trends/pyproject.toml
Due: black, ruff

fix(components): resolve duplicate key warnings and invalid hook usage in DynamicComponents (#559)
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/utils/extractKeyProps.js
Due: prettier

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
