Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

feat(runtime): add RenderBuffer to VirtualPreswaldService to skip redundant reruns
  preswald/browser/virtual_service.py
  preswald/engine/utils.py
Due: black, ruff

fix(frontend): add @monaco-editor/react dependency to fix build error
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: none

feat(components): integrate RenderBuffer to skip redundant renders
  preswald/browser/virtual_service.py
  preswald/engine/utils.py
  preswald/interfaces/components.py
Due: black, ruff

feat(renderbuffer): integrate diffing into core components and restore msgpack dependency
  preswald/interfaces/components.py
Due: black, ruff

feat(workflow): track component producers and infer DAG dependencies automatically
  preswald/engine/base_service.py
  preswald/interfaces/workflow.py
Due: black, ruff

feat(dag): support DAG-aware reactivity with atom re-registration and dummy fallbacks
  preswald/__init__.py
  preswald/engine/base_service.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

feat(runtime): enable reactive reruns by patching layout instead of full reruns
  preswald/engine/base_service.py
  preswald/engine/managers/layout.py
  preswald/engine/runner.py
  preswald/interfaces/component_return.py
  preswald/interfaces/components.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

style(components): clean up imports and modernize type hints
  preswald/interfaces/components.py
Due: black, ruff

refactor(core): simplify type annotations and streamline DAG handling
  preswald/engine/managers/layout.py
  preswald/engine/runner.py
  preswald/engine/server_service.py
  preswald/interfaces/component_return.py
  preswald/interfaces/workflow.py
Due: black, ruff

chore: revert logo and favicon
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: none

feat(reactivity): introduce sl_reactive and TrackedValue for implicit DAG tracking
  preswald/interfaces/dependency_tracker.py
  preswald/interfaces/reactive.py
  preswald/interfaces/tracked_value.py
  preswald/interfaces/workflow.py
Due: black, ruff

refactor(reactive): move auto-atom registry and tracking to workflow instance
  preswald/interfaces/reactive.py
  preswald/interfaces/workflow.py
Due: black, ruff

fixL remove structured target autotest from gh workflow
  .github/workflows/deployment_autotests.yaml
Due: none

refactor: remove structured deployment
  preswald/cli.py
  preswald/deploy.py
Due: black, ruff

refactor(reactive): dynamically detect builtin components and unify metadata handling
  preswald/interfaces/reactive.py
  preswald/utils.py
Due: black, ruff

feat(reactive): auto-wrap global atoms and invoke main() in runner
  preswald/engine/runner.py
  preswald/interfaces/reactive.py
Due: black, ruff

[FEATURE] Implement collapsible() Component for UI Layout
  docs/layout/guide.mdx
  docs/sdk/collapsible.mdx
  examples/iris/hello.py
  frontend/components.json
  frontend/eslint.config.js
  frontend/postcss.config.js
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/CollapsibleWidget.jsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/vite.config.js
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

feat(reactive): auto-run top-level atoms and support implicit registration
  preswald/engine/runner.py
  preswald/interfaces/reactive.py
  preswald/interfaces/workflow.py
Due: black, ruff

refactor: fixed typo
  preswald/interfaces/workflow.py
Due: black, ruff

feat: add support for customizable logo and title in sidebar component
  docs/sdk/sidebar.mdx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  preswald/interfaces/components.py
Due: black, ruff, prettier

docs: document reactive runtime and manual vs inferred dependencies
  docs/coreconcepts.mdx
  docs/sdk/workflow.mdx
Due: none

docs(contributing): add section on working with forks & rebasing
  CONTRIBUTING.md
Due: none

docs(contributing): use git@ URL for upstream remote example
  CONTRIBUTING.md
Due: none

fix: qualify HASH_PATTERN reference in RenderBuffer._ensure_hash (fixes #692)
  preswald/engine/utils.py
Due: black, ruff

Docs: Improve installation section and add troubleshooting guide
  README.md
Due: none

Enhance frontend dashboard UX and backend SDK with type safety and improved error handling
  frontend/src/components/pages/Dashboard.jsx
  preswald/interfaces/data.py
Due: black, ruff, prettier

Add Dockerfile for running Preswald in a container
  .dockerignore
  dockerfile
Due: none

Delete generate_templates.py
  preswald/templates/generate_templates.py
Due: black, ruff

feat(runtime): enable full reactive DAG-based reruns for user scripts
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/engine/transformers/__init__.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/components.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff

fix(data): preserve original column names in CSV sources
  preswald/engine/managers/data.py
Due: black, ruff

fix(render_tracking): ensure correct atom context for component DAG registration
  preswald/engine/render_tracking.py
Due: black, ruff

dag-fix
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
Due: prettier

fix(frontend): memoize and compare all components properly
  frontend/src/App.jsx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/utils/deepComparison.js
  frontend/src/utils/websocket.js
Due: prettier

chore(frontend): adhered to best practices and style guide
  frontend/src/utils/websocket.js
Due: prettier

accessing seen_ids
  preswald/cli.py
Due: black, ruff

rebased to latest main
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/AlertWidget.jsx
  frontend/src/components/widgets/BigNumberWidget.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/components/widgets/CheckboxWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/JSONViewerWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/MatplotlibWidget.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SeparatorWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
  preswald/cli.py
  preswald/engine/runner.py
  preswald/main.py
  preswald/utils.py
Due: black, ruff, prettier

rebased to latest main
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
Due: prettier

rebased to latest main
  frontend/src/components/DynamicComponents.jsx
Due: prettier

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
