Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

feat: move docs
  docs/CLI-Reference/deploy.md
  docs/CLI-Reference/deployments.md
  docs/CLI-Reference/init.md
  docs/CLI-Reference/run.md
  docs/CLI-Reference/stop.md
  docs/CLI-Reference/tutorial.md
  docs/get-started/configuration.md
  docs/get-started/contributing.md
  docs/get-started/coreconcepts.md
  docs/get-started/introduction.md
  docs/get-started/quickstart.md
  docs/img/favicon.ico
  docs/img/preswald-hero.png
  docs/layout/guide.md
  docs/usage/example.md
  docs/usage/troubleshooting.md
Due: none

feat: Make preswald tutorial use Workflow atoms
  preswald/tutorial/hello.py
  preswald/tutorial/preswald.toml
Due: black, ruff

feat: more files and config
  docs/cli/deploy.md
  docs/cli/deployments.md
  docs/cli/init.md
  docs/cli/run.md
  docs/cli/stop.md
  docs/cli/tutorial.md
  docs/configuration.md
  docs/contributing.md
  docs/coreconcepts.md
  docs/introduction.md
  docs/quickstart.md
  docs/sdk/alert.md
  docs/sdk/button.md
  docs/sdk/checkbox.md
  docs/sdk/connect.md
  docs/sdk/get_df.md
  docs/sdk/plotly.md
  docs/sdk/progress.md
  docs/sdk/query.md
  docs/sdk/retrypolicy.md
  docs/sdk/selectbox.md
  docs/sdk/separator.md
  docs/sdk/slider.md
  docs/sdk/table.md
  docs/sdk/text.md
  docs/sdk/text_input.md
  docs/sdk/workflow.md
  docs/sdk/workflow_analyzer.md
  docs/sdk/workflow_dag.md
  docs/usage/examples.md
  docs/usage/guide.md
  mkdocs.yml
Due: none

feat: font and navigation updates
  docs/quickstart.md
  mkdocs.yml
Due: none

fix: Resolve websocket.close & preswald shutdown
  preswald/engine/service.py
  preswald/main.py
Due: black, ruff

fix: Remove redundant slug validation
  preswald/cli.py
Due: black, ruff

feat: external links added
  docs/javascripts/extra.js
  docs/layout/guide.md
  mkdocs.yml
Due: none

feat: cards and graphs
  docs/introduction.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Update preswald.toml
  examples/netflix/preswald.toml
Due: none

fixed csv path in data manager for hf links
  examples/earthquakes/preswald.toml
  examples/finance/preswald.toml
  examples/fires/preswald.toml
  examples/health/preswald.toml
  examples/music/preswald.toml
  examples/netflix/preswald.toml
  examples/network/preswald.toml
  examples/real_estate/preswald.toml
  examples/voice/preswald.toml
  preswald/engine/managers/data.py
Due: black, ruff

feat: Add telemetry feat. toggle
  preswald/cli.py
  preswald/engine/telemetry.py
Due: black, ruff

feat: telemetry
  preswald/cli.py
  preswald/deploy.py
  preswald/engine/telemetry.py
  preswald/tutorial/preswald.toml
Due: black, ruff

fix: remove unused connection declares in earthquake example
  examples/earthquakes/preswald.toml
Due: none

fix: make examples compatible with latest preswald
  examples/earthquakes/preswald.toml
  examples/finance/preswald.toml
  examples/fires/preswald.toml
  examples/health/preswald.toml
  examples/music/preswald.toml
  examples/netflix/preswald.toml
  examples/network/preswald.toml
  examples/real_estate/preswald.toml
  examples/voice/preswald.toml
  examples/voice/pyproject.toml
Due: none

Create docs.json
  docs/docs.json
Due: none

Add docs from preswald-docs
  docs/README.md
  docs/cli/deploy.mdx
  docs/cli/deployments.mdx
  docs/cli/init.mdx
  docs/cli/run.mdx
  docs/cli/stop.mdx
  docs/cli/tutorial.mdx
  docs/configuration.mdx
  docs/contributing.mdx
  docs/coreconcepts.mdx
  docs/favicon.svg
  docs/images/preswald-hero.png
  docs/images/preswald-install.png
  docs/introduction.mdx
  docs/layout/guide.mdx
  docs/logo/dark.svg
  docs/logo/light.png
  docs/logo/light.svg
  docs/mint.json
  docs/quickstart.mdx
  docs/sdk/alert.mdx
  docs/sdk/checkbox.mdx
  docs/sdk/connect.mdx
  docs/sdk/get_df.mdx
  docs/sdk/plotly.mdx
  docs/sdk/progress.mdx
  docs/sdk/query.mdx
  docs/sdk/retrypolicy.mdx
  docs/sdk/selectbox.mdx
  docs/sdk/separator.mdx
  docs/sdk/slider.mdx
  docs/sdk/table.mdx
  docs/sdk/text.mdx
  docs/sdk/text_input.mdx
  docs/sdk/workflow.mdx
  docs/sdk/workflow_analyzer.mdx
  docs/sdk/workflow_dag.mdx
  docs/snippets/snippet-intro.mdx
  docs/usage/examples.mdx
  docs/usage/troubleshooting.mdx
Due: none

logo
  docs/docs.json
  docs/favicon.svg
  docs/images/preswald-hero.png
  docs/images/preswald-install.png
  docs/logo/light.png
  docs/snippets/snippet-intro.mdx
Due: none

Add images for components
  docs/images/plotly.png
  docs/images/selectbox.png
  docs/images/slider.png
  docs/images/table.png
  docs/images/workflow.png
  docs/sdk/plotly.mdx
  docs/sdk/selectbox.mdx
  docs/sdk/slider.mdx
  docs/sdk/table.mdx
  docs/sdk/workflow_dag.mdx
Due: none

Update README.md
  README.md
Due: none

chore: Update README instructions for writing first app
  README.md
Due: none

fix: imports
  preswald/engine/managers/layout.py
  preswald/engine/service.py
Due: black, ruff

chore: test components and layout
  tests/engine/managers/layout_test.py
  tests/interfaces/components.test.py
Due: black, ruff

feat: move components to dataclass structures
  preswald/engine/managers/layout.py
  preswald/engine/service.py
  preswald/errors.py
  preswald/interfaces/components.py
Due: black, ruff

chore: components function for back compatibility
  preswald/interfaces/__init__.py
  preswald/interfaces/component_functions.py
Due: black, ruff

feat: base component and layout unit tests
  tests/engine/managers/test_layout.py
  tests/interfaces/components.test.py
  tests/interfaces/test_components.py
Due: black, ruff

chore: add all the components
  preswald/interfaces/components.py
  preswald/interfaces/data.py
Due: black, ruff

feat: uv support
  .python-version
  pyproject.toml
  uv.lock
Due: none

feat: Add preswald Docker image
  docker/entrypoint.sh
  docker/preswald_app.Dockerfile
  docker/test/voice_app.Dockerfile
Due: none

Add travel example
  examples/travel/README.md
  examples/travel/data/travel_details_data.csv
  examples/travel/hello.py
  examples/travel/preswald.toml
Due: black, ruff

Pyodide in the browser v0 impl
  frontend/src/App.jsx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/styles.css
  frontend/src/utils/websocket.js
  preswald/browser/__init__.py
  preswald/browser/entrypoint.py
  preswald/browser/virtual_service.py
  preswald/engine/server_service.py
  preswald/engine/service.py
  setup.py
Due: black, ruff, prettier

Remove unused connections and llm file
  preswald/engine/llm.py
  preswald/engine/managers/connections.py
Due: black, ruff

pyodide tests
  tests/fastapi_test.html
  tests/pyodide_test.html
Due: none

Fix StructuredLabs/preswald#45
  preswald/deploy.py
Due: black, ruff

refactor: Improve logging with f-string formatting
  preswald/browser/entrypoint.py
  preswald/engine/managers/branding.py
  preswald/engine/managers/data.py
  preswald/engine/runner.py
  preswald/engine/server_service.py
  preswald/engine/service.py
  preswald/engine/telemetry.py
  preswald/interfaces/components.py
  preswald/main.py
Due: black, ruff

feat: Add preswald Docker image
  docker/preswald_app.Dockerfile
Due: none

feat: Add corewald custom url
  preswald/deploy.py
  preswald/engine/telemetry.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
