Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

refactor(transformer): centralize atom finalization and registration logic
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

chore(registry): disable plotly display method to prevent new tab rendering
  preswald/interfaces/render/registry.py
Due: black, ruff

feat(runtime): support in script registration of display dependency resolvers
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

feat(reactive-runtime): add support for lifting display renderers like fig.show()
  preswald/engine/transformers/frame_context.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

feat: add support for generic fallback rendering and dynamic tuple return registration
  frontend/src/components/DynamicComponents.jsx
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff, prettier

feat(ui,transformer): add GenericWidget for mimetype rendering and log AST rewrite summary
  frontend/src/components/widgets/GenericWidget.jsx
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff, prettier

Remove html export directory from serialization
  preswald/utils.py
Due: black, ruff

feat(examples): add startup funding tracker with data visualizations and metrics
  examples/startup_funding_tracker/README.md
  examples/startup_funding_tracker/data/funding.csv
  examples/startup_funding_tracker/hello.py
  examples/startup_funding_tracker/images/favicon.ico
  examples/startup_funding_tracker/images/logo.png
  examples/startup_funding_tracker/preswald.toml
  examples/startup_funding_tracker/pyproject.toml
Due: black, ruff

fix(pyodide): ensure matplotlib agg backend is set to enable figure rendering
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

refactor(pyodide): move matplotlib backend config from AST transformer to worker setup
  frontend/src/backend/worker.js
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff, prettier

fix(transformer): remove leftover backend_config reference after cleanup
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

fix(websocket): avoid stale cache when loading project_fs.json
  frontend/src/utils/websocket.js
Due: prettier

refactor(examples): switch to implicit rendering in user scripts
  examples/earthquakes/hello.py
  examples/iris/hello.py
Due: black, ruff

feat(reactive-runtime): add return type hint registry and side effect lifting
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

chore(logging): reduce verbosity of reactive_runtime logs by downgrading info to debug
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

feat(reactive): support subscript mutations and blackbox function fallback
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

refactor(ast): support explicit return targets in atom generation
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

fix(reactive_runtime): pass variable_map to component atom lifter to fix dependency resolution
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

refactor(registry, transformer): cleanup imports, fix type annotations, and remove dead code
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

feat(runtime, registry): support component aliases and improve pre-registration metrics
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

fix(reactive-runtime): fix display renderer lifting and candidate resolution logic
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

fix(runtime): correct side effect lifting for multi var dependencies
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

docs: Add assessment submission summary
  SUBMISSION_SUMMARY.md
Due: none

chore(transformer): minor cleanup and import reordering
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: black, ruff

feat(errors): add structured runtime error reporting and display improvements
  frontend/src/components.css
  frontend/src/components/ErrorsReport.jsx
  preswald/engine/base_service.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff, prettier

feat(errors): add structured transform error reporting with frontend integration
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/ErrorsReport.jsx
  frontend/src/components/pages/Dashboard.jsx
  preswald/engine/base_service.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/error_registry.py
Due: black, ruff, prettier

fix(workflow): avoid redundant file I/O when resolving callsite source
  preswald/interfaces/workflow.py
Due: black, ruff

fix(runtime): fix return handling for reactive atoms + forward runtime errors to frontend
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

fix(renderer): prevent crash when lifting display renderer as raw ast.Call
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

style(ruff): minor cleanup for file open and import ordering
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/error_registry.py
Due: black, ruff

feat(runtime): attach callsite metadata to atoms for precise error reporting
  frontend/src/components/ErrorsReport.jsx
  preswald/engine/base_service.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/error_registry.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: black, ruff, prettier

refactor(ast): cache source lines in transformer to avoid repeated file reads
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

fix(runtime): generate stable IDs using accurate user callsites
  preswald/engine/render_tracking.py
  preswald/utils.py
Due: black, ruff

fix(ast): inject missing component_id into known component calls
  preswald/engine/transformers/reactive_runtime.py
Due: black, ruff

feat: Implement `MessageEncoder` with JSON protocol and optional compression
  frontend/src/utils/websocket.js
Due: prettier

feat: Replace `createCommunicationLayer()` in `websocket.js:580-612`
  frontend/src/utils/websocket.js
Due: prettier

feat: State Management Optimization
  frontend/src/App.jsx
  frontend/src/utils/websocket.js
  preswald/engine/base_service.py
Due: black, ruff, prettier

feat: Create `IPreswaldCommunicator` interface and base implementation
  frontend/src/utils/websocket.js
Due: prettier

Added interactive dashboard built with Preswald
  data/sample.csv
  hello.py
  images/favicon.ico
  images/logo.png
  preswald.toml
  secrets.toml
Due: black, ruff

feat: transport layer optimisation
  frontend/src/utils/websocket.js
Due: prettier
