Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Added a note about python unit tests in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

added the Big Number Metric Card UI Component
  docs/sdk/big_number.mdx
  docs/usage/examples.mdx
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/BigNumberCard.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

removed the size comment from big_number function
  preswald/interfaces/components.py
Due: black, ruff

Added big number card component
  examples/iris/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/BigNumberWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: black, ruff, prettier

Added big_number example in tutorial
  examples/iris/hello.py
  preswald/tutorial/hello.py
Due: black, ruff

Added big_number example to tutorial
  preswald/tutorial/hello.py
Due: black, ruff

feat(components): integrate RenderBuffer to skip redundant renders
  preswald/browser/virtual_service.py
  preswald/engine/base_service.py
  preswald/engine/server_service.py
  preswald/engine/utils.py
  preswald/interfaces/components.py
Due: black, ruff

feat(renderbuffer): integrate diffing into core components and restore msgpack dependency
  preswald/engine/base_service.py
  preswald/engine/server_service.py
  preswald/interfaces/components.py
  setup.py
Due: black, ruff

Added Table of Contents feature to Sidebar
  frontend/src/components/TableOfContents.jsx
  frontend/src/components/ui/sidebar.tsx
Due: prettier

refactor(service): remove fastapi.WebSocket dependency from BasePreswaldService
  preswald/engine/base_service.py
  setup.py
  tests/pyodide_test.html
Due: black, ruff

Add anchor links
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
Due: prettier

chore: squash recent updates (favicon, logo, readme, slack fix)
  docs/layout/guide.mdx
  docs/sdk/download_button.mdx
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/DownloadButtonWidget.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/utils/websocket.js
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Updated README.md to fix #624
  README.md
Due: none

Remove workbook.md from preswald init
  preswald/cli.py
Due: black, ruff

feat: add json_viewer component
  docs/docs.json
  docs/sdk/json_viewer.mdx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/JsonViewerWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: black, ruff, prettier

fix: update docs
  docs/sdk/json_viewer.mdx
Due: none

feat(engine): add DAG-based reactive execution for component reruns
  preswald/engine/base_service.py
  preswald/engine/runner.py
Due: black, ruff

Moved from setuptools to pyproject.toml via uv for builds
  CONTRIBUTING.md
  README.md
  docs/addnewcomponent.mdx
  docs/quickstart.mdx
  preswald/__init__.py
  preswald/build.py
  preswald/templates/Dockerfile.template
  pyproject.toml
  setup.py
Due: black, ruff

Make uv optional in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

changed the big number component according to rest of the component
  frontend/src/components/widgets/BigNumberCard.jsx
Due: prettier

Added JSON-viewer feature
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/JSONViewerWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: black, ruff, prettier

Fallback to cloudrun url if custom domain is down
  preswald/cli.py
Due: black, ruff

refactor(components): unify component rendering with @with_render_tracking
  preswald/engine/base_service.py
  preswald/interfaces/components.py
  preswald/interfaces/workflow.py
  preswald/utils.py
  pyproject.toml
Due: black, ruff

chore: remove unnecessary import
  preswald/engine/utils.py
Due: black, ruff

removed utils folder
  preswald/cli.py
  preswald/utils.py
  preswald/utils/__init__.py
  preswald/utils/exporter.py
Due: black, ruff

Added export pdf feature
  preswald/cli.py
  preswald/utils/__init__.py
  preswald/utils/exporter.py
Due: black, ruff

chore: re-enable msgpack dependency for RenderBuffer hashing
  pyproject.toml
Due: none

chore: remove .projectile from git and ignore it in .gitignore
  .gitignore
  .projectile
Due: none

build(pyodide): remove platform constraint on msgpack to enable renderbuffer in virtual_service
  pyproject.toml
Due: none

feat(cicd): cron job structured target autotest every 12hours
  .github/workflows/deployment_autotests.yaml
Due: none

Fixed connect idempotency issue - no longer recreating sources upon rerun
  preswald/engine/managers/data.py
Due: black, ruff

Clean up managers/data.py for linter
  preswald/engine/managers/data.py
Due: black, ruff

Remove need to call connect explicitly
  examples/earthquakes/hello.py
  examples/fires/hello.py
  examples/iris/hello.py
  examples/user_event/hello.py
  preswald/browser/virtual_service.py
  preswald/engine/base_service.py
  preswald/engine/managers/data.py
  preswald/engine/runner.py
  preswald/engine/server_service.py
Due: black, ruff

Remove connect() from template and tutorial
  preswald/templates/hello.py.template
  preswald/tutorial/hello.py
Due: black, ruff

feat(notebook): add interactive notebook-like runtime support. Closes #540
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/components/common/HTMLRenderer.jsx
  frontend/src/components/pages/NotebookView.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/styles.css
  frontend/src/utils/websocket.js
  package-lock.json
  package.json
  preswald/cli.py
  preswald/engine/notebook.py
  preswald/engine/server_service.py
  preswald/main.py
Due: black, ruff, prettier

Made all default logos and favicons Structured Labs branding
  examples/user_event/images/favicon.ico
  examples/user_event/images/logo.png
  frontend/public/favicon.ico
  frontend/public/logo.png
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: none

Fix tutorial and big number
  preswald/cli.py
  preswald/interfaces/components.py
Due: black, ruff

feat(workflow): track component producers and infer DAG dependencies automatically
  preswald/engine/base_service.py
  preswald/interfaces/workflow.py
Due: black, ruff

Fixed branding manager to read from images instead of assets
  preswald/engine/managers/branding.py
  preswald/main.py
Due: black, ruff

Change image component backend to send data url instead of path for local images
  preswald/interfaces/components.py
Due: black, ruff
