Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

Fixed timestamp and NaT issue + tested against all the examples
  preswald/interfaces/components.py
Due: black, ruff

Undid changes to iris example
  examples/iris/hello.py
Due: black, ruff

Attaching branding config to window during initialization
  preswald/browser/entrypoint.py
Due: black, ruff

feat: store_sales_forecasting
  community_gallery/store_sales_forecasting/README.md
  community_gallery/store_sales_forecasting/hello.py
  community_gallery/store_sales_forecasting/images/favicon.ico
  community_gallery/store_sales_forecasting/images/logo.png
  community_gallery/store_sales_forecasting/preswald.toml
  community_gallery/store_sales_forecasting/pyproject.toml
  community_gallery/store_sales_forecasting/secrets.toml
Due: black, ruff

Update README.md
  community_gallery/store_sales_forecasting/README.md
Due: none

Add Sleep Health and Lifestyle Analysis example
  community_gallery/sleep-health-analysis/README.md
  community_gallery/sleep-health-analysis/hello.py
  community_gallery/sleep-health-analysis/preswald.toml
  community_gallery/sleep-health-analysis/pyproject.toml
Due: black, ruff

Modify Readme.md file
  community_gallery/sleep-health-analysis/README.md
Due: none

showcase: chocolate sales data visualization and analysis
  community_gallery/chocolate_sales/README.md
  community_gallery/chocolate_sales/hello.py
  community_gallery/chocolate_sales/images/favicon.ico
  community_gallery/chocolate_sales/images/logo.png
  community_gallery/chocolate_sales/preswald.toml
  community_gallery/chocolate_sales/pyproject.toml
Due: black, ruff

Undid change to pre commit hooks
  .pre-commit-config.yaml
Due: none

feat: add missing data.csv
  community_gallery/average_salary_by_job_montgomery/data.csv
  community_gallery/average_salary_by_job_montgomery/preswald.toml
Due: none

feat: add sidebar component
  community_gallery/average_salary_by_job_montgomery/hello.py
Due: black, ruff

Added soccer project example to community gallery
  community_gallery/soccer/README.md
  community_gallery/soccer/hello.py
Due: black, ruff

Update __init__.py
  preswald/interfaces/__init__.py
Due: black, ruff

Added Mental Health Care Trends App to community_gallery
  community_gallery/mental_health_example/README.md
  community_gallery/mental_health_example/hello.py
  community_gallery/mental_health_example/images/favicon.ico
  community_gallery/mental_health_example/images/logo.png
  community_gallery/mental_health_example/preswald.toml
  community_gallery/mental_health_example/pyproject.toml
  community_gallery/mental_health_example/secrets.toml
Due: black, ruff

Amruth's Pokemon Dashboard
  community_gallery/pokemon/.gitignore
  community_gallery/pokemon/README.md
  community_gallery/pokemon/images/favicon.ico
  community_gallery/pokemon/images/pika.png
  community_gallery/pokemon/pokemon_dashboard.py
  community_gallery/pokemon/preswald.toml
  community_gallery/pokemon/pyproject.toml
Due: black, ruff

Add Weather Data Analysis App to community gallery
  community_gallery/weather_app/.gitignore
  community_gallery/weather_app/README.md
  community_gallery/weather_app/hello.py
  community_gallery/weather_app/images/favicon.ico
  community_gallery/weather_app/images/logo.png
  community_gallery/weather_app/preswald.toml
  community_gallery/weather_app/pyproject.toml
Due: black, ruff

Simplified serialization process (for table and chat)
  preswald/interfaces/components.py
Due: black, ruff

fix: improve initial loading state
  frontend/src/App.jsx
Due: prettier

fix: handle error case
  frontend/src/App.jsx
Due: prettier

take-home-assignment-Meteor Crash
  community_gallery/Meteor Crashes/.gitignore
  community_gallery/Meteor Crashes/README.md
  community_gallery/Meteor Crashes/hello.py
  community_gallery/Meteor Crashes/images/favicon.ico
  community_gallery/Meteor Crashes/images/logo.png
  community_gallery/Meteor Crashes/preswald.toml
  community_gallery/Meteor Crashes/pyproject.toml
Due: black, ruff

adding student depression web app
  community_gallery/student-depression/.gitignore
  community_gallery/student-depression/README.md
  community_gallery/student-depression/hello.py
  community_gallery/student-depression/images/favicon.ico
  community_gallery/student-depression/images/logo.png
  community_gallery/student-depression/preswald.toml
  community_gallery/student-depression/pyproject.toml
Due: black, ruff

Add f1_hub to community_gallery
  community_gallery/f1_hub/hello.py
  hello.py
Due: black, ruff

Add README and data/screenshots to f1_hub
  community_gallery/f1_hub/README.md
  community_gallery/f1_hub/Screenshot_BarChart.png
  community_gallery/f1_hub/Screenshot_Histogram.png
  community_gallery/f1_hub/Screenshot_Main.png
  community_gallery/f1_hub/data/circuits.csv
  community_gallery/f1_hub/data/drivers.csv
  community_gallery/f1_hub/data/lap_times.csv
  community_gallery/f1_hub/data/races.csv
  community_gallery/f1_hub/data/results.csv
Due: none

Modfified README.md
  community_gallery/f1_hub/README.md
Due: none

Modified README.md
  community_gallery/f1_hub/README.md
Due: none

pushing my brain tumor dataset project
  community_gallery/brain_tumor_dataset/.gitignore
  community_gallery/brain_tumor_dataset/README.md
  community_gallery/brain_tumor_dataset/hello.py
  community_gallery/brain_tumor_dataset/images/favicon.ico
  community_gallery/brain_tumor_dataset/images/logo.png
  community_gallery/brain_tumor_dataset/preswald.toml
  community_gallery/brain_tumor_dataset/pyproject.toml
Due: black, ruff

heart-disease clean psh
  community_gallery/heart-disease-analysis/README.md
  community_gallery/heart-disease-analysis/hello.py
Due: black, ruff

UI updates to Project
  community_gallery/Meteor Crashes/hello.py
Due: black, ruff

Add new examples with dataset called erasmus.
  community_gallery/erasmus/README.md
  community_gallery/erasmus/hello.py
Due: black, ruff

Delete community_gallery/heart-disease-analysis directory
  community_gallery/heart-disease-analysis/README.md
  community_gallery/heart-disease-analysis/hello.py
Due: black, ruff

Update hello.py
  examples/iris/hello.py
Due: black, ruff

Update components.py
  preswald/interfaces/components.py
Due: black, ruff

fix: update sql queries
  community_gallery/average_salary_by_job_montgomery/data.csv
  community_gallery/average_salary_by_job_montgomery/hello.py
  community_gallery/average_salary_by_job_montgomery/preswald.toml
Due: black, ruff

fix: update README.md
  community_gallery/average_salary_by_job_montgomery/README.md
Due: none

feat(fastplotlib): add GPU-accelerated scatter plot component with offscreen rendering
  README.md
  docs/README.md
  docs/introduction.mdx
  docs/sdk/fastplotlib.mdx
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  setup.py
Due: black, ruff, prettier

style(examples): format fastplotlib call inline in iris example
  examples/iris/hello.py
Due: black, ruff

new eda visualizations
  community_gallery/chat_with_your_stocks/hello.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
