Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

add data analysis on ecommerce consumer behavior
  community_gallery/ecommerce-consumer-behavior/.gitignore
  community_gallery/ecommerce-consumer-behavior/README.md
  community_gallery/ecommerce-consumer-behavior/hello.py
  community_gallery/ecommerce-consumer-behavior/images/favicon.ico
  community_gallery/ecommerce-consumer-behavior/images/logo.png
  community_gallery/ecommerce-consumer-behavior/preswald.toml
  community_gallery/ecommerce-consumer-behavior/pyproject.toml
Due: black, ruff

Add Cryptocurrency Market Analysis example to community gallery
  community_gallery/crypto_market_analysis/.gitignore
  community_gallery/crypto_market_analysis/README.md
  community_gallery/crypto_market_analysis/hello.py
  community_gallery/crypto_market_analysis/preswald.toml
Due: black, ruff

Create test
  community_gallery/Income-Demographic_Analysis/data/test
Due: none

Add files via upload
  community_gallery/Income-Demographic_Analysis/data/Adult_data.csv
  community_gallery/Income-Demographic_Analysis/data/sample.csv
Due: none

Delete community_gallery/Income-Demographic_Analysis/data/test
  community_gallery/Income-Demographic_Analysis/data/test
Due: none

Add files via upload
  community_gallery/Income-Demographic_Analysis/hello.py
Due: black, ruff

Create placeholder file to upload images
  community_gallery/Income-Demographic_Analysis/images/test
Due: none

Add files via upload
  community_gallery/Income-Demographic_Analysis/images/favicon.ico
  community_gallery/Income-Demographic_Analysis/images/logo.png
Due: none

Add files via upload
  community_gallery/Income-Demographic_Analysis/README.md
  community_gallery/Income-Demographic_Analysis/preswald.toml
  community_gallery/Income-Demographic_Analysis/pyproject.toml
  community_gallery/Income-Demographic_Analysis/secrets.toml
Due: none

refactor: simplify country selection and fix experience level filtering
  stack_overflow_developer_trends/app.py
Due: black, ruff

added new example project using preswald (customer spending capacity against income)
  community_gallery/customer_spending_vs_income/.gitignore
  community_gallery/customer_spending_vs_income/README.md
  community_gallery/customer_spending_vs_income/hello.py
  community_gallery/customer_spending_vs_income/images/favicon.ico
  community_gallery/customer_spending_vs_income/images/logo.png
  community_gallery/customer_spending_vs_income/preswald.toml
  community_gallery/customer_spending_vs_income/pyproject.toml
Due: black, ruff

updated README.md
  community_gallery/customer_spending_vs_income/README.md
Due: none

Update hello.py
  community_gallery/Income-Demographic_Analysis/hello.py
Due: black, ruff

Create README.md
  community_gallery/olympics_medals_example/README.md
Due: none

Added Olympic Medal Explorer app
  community_gallery/olympics_medal_analysis/README.md
  community_gallery/olympics_medal_analysis/hello.py
  community_gallery/olympics_medal_analysis/preswald.toml
  community_gallery/olympics_medal_analysis/pyproject.toml
Due: black, ruff

Added additional insights with detailed description for each
  community_gallery/amazon-stock-insights/hello.py
Due: black, ruff

Matched topbar styling to new update
  frontend/src/components.css
  frontend/src/components/Layout.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
Due: prettier

feat: add summary statistics and salary comparison table
  stack_overflow_developer_trends/app.py
Due: black, ruff

refactor: update country selection method and improve features section
  stack_overflow_developer_trends/README.md
Due: none

Dom Scordino: PLL Statistics Preswald project complete
  .vs/PreswaldOfficialRepository/FileContentIndex/8ae24c59-6c2e-4b4a-9955-9b2d8e74c317.vsidx
  .vs/PreswaldOfficialRepository/FileContentIndex/f6bcd91b-0632-492e-8d7e-0ad1d05e2a72.vsidx
  .vs/PreswaldOfficialRepository/v17/.wsuo
  .vs/PreswaldOfficialRepository/v17/DocumentLayout.backup.json
  .vs/PreswaldOfficialRepository/v17/DocumentLayout.json
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  community_gallery/pll_statistics/.gitignore
  community_gallery/pll_statistics/README.md
  community_gallery/pll_statistics/hello.py
  community_gallery/pll_statistics/images/favicon.ico
  community_gallery/pll_statistics/images/logo.png
  community_gallery/pll_statistics/preswald.toml
  community_gallery/pll_statistics/pyproject.toml
Due: black, ruff

updated readME
  community_gallery/pll_statistics/README.md
Due: none

Covid19 Project
  community_gallery/covid19/.gitignore
  community_gallery/covid19/README.md
  community_gallery/covid19/hello.py
  community_gallery/covid19/images/favicon.ico
  community_gallery/covid19/images/logo.png
  community_gallery/covid19/preswald.toml
  community_gallery/covid19/pyproject.toml
Due: black, ruff

Added Traffic Crashes example
  community_gallery/traffic_crashes_example/README.md
  community_gallery/traffic_crashes_example/hello.py
  community_gallery/traffic_crashes_example/preswald.toml
Due: black, ruff

Update README.md
  community_gallery/traffic_crashes_example/README.md
Due: none

feat: Replace statsmodels with scipy for linear regression and update README
  stack_overflow_developer_trends/README.md
  stack_overflow_developer_trends/app.py
  stack_overflow_developer_trends/pyproject.toml
  stack_overflow_developer_trends/requirements.txt
Due: black, ruff

Add Preswald example for GreenShift
  community_gallery/GreenShift/.gitignore
  community_gallery/GreenShift/README.md
  community_gallery/GreenShift/hello.py
  community_gallery/GreenShift/images/favicon.ico
  community_gallery/GreenShift/images/logo.png
  community_gallery/GreenShift/preswald.toml
  community_gallery/GreenShift/pyproject.toml
Due: black, ruff

refactor: replace scipy with numpy for linear regression in trendline calculation
  stack_overflow_developer_trends/app.py
Due: black, ruff

feat: add Stack Overflow Developer Trends app to the community gallery
  community_gallery/stack_overflow_developer_trends/README.md
  community_gallery/stack_overflow_developer_trends/app.py
  community_gallery/stack_overflow_developer_trends/images/favicon.ico
  community_gallery/stack_overflow_developer_trends/images/logo.png
  community_gallery/stack_overflow_developer_trends/preswald.toml
  community_gallery/stack_overflow_developer_trends/pyproject.toml
  stack_overflow_developer_trends/.gitignore
Due: black, ruff

Added deps to toml file
  community_gallery/github-issues/README.md
  community_gallery/github-issues/pyproject.toml
Due: none

README.md
  community_gallery/GreenShift/README.md
Due: none

hello.py
  community_gallery/GreenShift/hello.py
Due: black, ruff

fix: resolve ruff issues by using dictionary literals and list unpacking
  community_gallery/stack_overflow_developer_trends/app.py
Due: black, ruff

Community Gallery: Include Pokemon App
  community_gallery/pokemon/README.md
  community_gallery/pokemon/images/favicon-16x16.png
  community_gallery/pokemon/images/favicon-32x32.png
  community_gallery/pokemon/images/favicon.ico
  community_gallery/pokemon/images/logo-pokedex.png
  community_gallery/pokemon/images/logo.png
  community_gallery/pokemon/main.py
  community_gallery/pokemon/preswald.toml
  community_gallery/pokemon/pyproject.toml
  community_gallery/pokemon/secrets.toml
Due: black, ruff

Code for final deployed version
  community_gallery/github-issues/hello.py
  community_gallery/github-issues/pyproject.toml
Due: black, ruff

Added music streaming dataset example
  community_gallery/music_stream/README.md
  community_gallery/music_stream/data/sample.csv
  community_gallery/music_stream/hello.py
Due: black, ruff

Created AMZN stock project
  community_gallery/amzn-stock-2025/README.md
  community_gallery/amzn-stock-2025/hello.py
  community_gallery/amzn-stock-2025/images/favicon.ico
  community_gallery/amzn-stock-2025/images/logo.png
  community_gallery/amzn-stock-2025/preswald.toml
  community_gallery/amzn-stock-2025/pyproject.toml
Due: black, ruff

feat: create automobile sales viz preswald app
  community_gallery/automobile_sales/.gitignore
  community_gallery/automobile_sales/README.md
  community_gallery/automobile_sales/hello.py
  community_gallery/automobile_sales/images/favicon.ico
  community_gallery/automobile_sales/images/logo.png
  community_gallery/automobile_sales/preswald.toml
  community_gallery/automobile_sales/pyproject.toml
  community_gallery/automobile_sales/requirements.txt
Due: black, ruff

add phone-usage to community gallery
  community_gallery/images/favicon.ico
  community_gallery/images/logo.png
  community_gallery/phone-usage/README.md
  community_gallery/phone-usage/hello.py
  community_gallery/phone-usage/preswald.toml
  community_gallery/phone-usage/pyproject.toml
  community_gallery/phone-usage/secrets.toml
Due: black, ruff

add readme and logo
  community_gallery/phone-usage/README.md
  community_gallery/phone-usage/images/mobile-logo.png
  community_gallery/phone-usage/preswald.toml
Due: none

Community Gallery: Add README to Pokemon App
  community_gallery/pokemon/README.md
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
