Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

fix: Plotly - Remove Menu Bar
  frontend/src/styles.css
Due: prettier

fix: separator
  frontend/src/components/DynamicComponents.jsx
Due: prettier

fix: hover bg rounded not rectangle
  frontend/src/components/Sidebar.jsx
Due: prettier

fix: Disable plotly zoom on scroll functionality
  frontend/src/components/widgets/DataVisualizationWidget.jsx
Due: prettier

fix: Disable plotly zoom on scroll
  frontend/src/components/widgets/DataVisualizationWidget.jsx
Due: prettier

added weather folder for review
  examples/weather/.gitignore
  examples/weather/README.md
  examples/weather/data/weather.csv
  examples/weather/hello.py
  examples/weather/images/favicon.ico
  examples/weather/images/logo.png
  examples/weather/preswald.toml
  examples/weather/pyproject.toml
Due: black, ruff

Add connect() function which returns a DuckDBPyConnection object
  preswald/engine/managers/data.py
  preswald/engine/service.py
  preswald/interfaces/__init__.py
  preswald/interfaces/data.py
  preswald/templates/preswald.toml.template
  pyproject.toml
Due: black, ruff

feat: Add coreswald depl url
  preswald/deploy.py
Due: black, ruff

Add query() and get_df() functions which return pandas data frame
  preswald/engine/managers/data.py
  preswald/interfaces/__init__.py
  preswald/interfaces/data.py
Due: black, ruff

Cleaned up view() function and updated earthquakes example
  examples/earthquakes/hello.py
  examples/earthquakes/preswald.toml
  preswald/interfaces/data.py
Due: black, ruff

fix: selectmenu options width
  frontend/src/components/widgets/SelectboxWidget.jsx
Due: prettier

feat: update components to return curr val
  preswald/interfaces/components.py
Due: black, ruff

fix: markdown renderer for code snippets
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
Due: prettier

Commented out celery initialization to fix logging issue
  preswald/main.py
Due: black, ruff

feat: Include git repo name in structured target req
  preswald/deploy.py
Due: black, ruff

Fix to_df for postgres
  examples/earthquakes/hello.py
  examples/earthquakes/preswald.toml
  preswald/engine/managers/data.py
Due: black, ruff

now query() can work with full postgres dbs, not just one table
  preswald/engine/managers/data.py
Due: black, ruff

Fixed examples in compliance with new component return types
  examples/earthquakes/hello.py
  examples/finance/hello.py
  examples/finance/preswald.toml
  examples/fires/hello.py
  examples/fires/preswald.toml
  examples/fires/secrets.toml
  examples/health/hello.py
  examples/music/hello.py
  examples/music/preswald.toml
  examples/netflix/hello.py
  examples/netflix/preswald.toml
  examples/network/hello.py
  examples/real_estate/hello.py
  examples/voice/hello.py
  examples/voice/preswald.toml
Due: black, ruff

Added basic support for clickhouse into data management
  preswald/engine/managers/data.py
Due: black, ruff

fix: Update corewald url in preswald
  preswald/deploy.py
Due: black, ruff

refactor: cleanup celery
  preswald/cli.py
  preswald/engine/celery.py
  preswald/main.py
  setup.py
Due: black, ruff

feat: Add disable-new-tab
  preswald/cli.py
Due: black, ruff

feat: cli - pass in api key and auth details
  preswald/cli.py
  preswald/deploy.py
Due: black, ruff

Add support for matplotlib issue #71
  examples/triangular_function/.gitignore
  examples/triangular_function/README.md
  examples/triangular_function/hello.py
  examples/triangular_function/images/favicon.ico
  examples/triangular_function/images/logo.png
  examples/triangular_function/preswald.toml
  examples/triangular_function/pyproject.toml
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/MatplotlibComponent.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

Update clickhouse example in earthquakes
  examples/earthquakes/hello.py
  examples/earthquakes/preswald.toml
Due: black, ruff

Fix port printing issue
  preswald/cli.py
  preswald/main.py
  preswald/utils.py
Due: black, ruff

Update README with connect() function
  README.md
Due: none

Updated default hello.py and preswald.toml templates w/ connect function
  preswald/templates/hello.py.template
  preswald/templates/preswald.toml.template
Due: none

Fixed tutorial component usage and connect() functions
  preswald/tutorial/hello.py
  preswald/tutorial/preswald.toml
Due: black, ruff

Fixed old tutorials for connect function
  examples/fires/hello.py
  examples/fires/preswald.toml
Due: black, ruff

feat: [Slug] Auth Flow for SDK / Console Integration
  preswald/cli.py
  preswald/deploy.py
  preswald/templates/preswald.toml.template
  preswald/utils.py
Due: black, ruff

Updated UI components for better readability
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff

Remove view and replace with table
  examples/earthquakes/hello.py
  examples/health/hello.py
  examples/network/hello.py
  examples/voice/hello.py
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/interfaces/data.py
  preswald/tutorial/hello.py
Due: black, ruff

feat: cli enhacement
  preswald/cli.py
  preswald/templates/preswald.toml.template
Due: black, ruff

feat: Test and add back in button, image, spinner
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

feat: cli deploy improvements
  preswald/cli.py
  setup.py
Due: black, ruff
