Repository StructuredLabs/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

adding my project
  community_gallery/renewable_energy_oa/.gitignore
  community_gallery/renewable_energy_oa/README.md
  community_gallery/renewable_energy_oa/hello.py
  community_gallery/renewable_energy_oa/images/favicon.ico
  community_gallery/renewable_energy_oa/images/logo.png
  community_gallery/renewable_energy_oa/preswald.toml
  community_gallery/renewable_energy_oa/pyproject.toml
Due: black, ruff

Added AI Companies Dashboard project
  community_gallery/Top_Ai_Companies/README.md
  community_gallery/Top_Ai_Companies/hello.py
Due: black, ruff

Updated AI Companies Dashboard with new visualizations
  community_gallery/Top_Ai_Companies/README.md
Due: none

Manually adding Ai_companies.csv
  community_gallery/Top_Ai_Companies/data/Ai_companies.csv
Due: none

Formatted README
  community_gallery/Top_Ai_Companies/README.md
Due: none

Create sales_data
  community_gallery/sales_data
Due: none

added global_water_consumption dataset
  community_gallery/global_water_consumption/.gitignore
  community_gallery/global_water_consumption/README.md
  community_gallery/global_water_consumption/hello.py
  community_gallery/global_water_consumption/images/favicon.ico
  community_gallery/global_water_consumption/images/logo.png
  community_gallery/global_water_consumption/preswald.toml
  community_gallery/global_water_consumption/pyproject.toml
Due: black, ruff

Added temperature analysis and completed the assessment
  community_gallery/temperature_analysis/.DS_Store
  community_gallery/temperature_analysis/.env.structured
  community_gallery/temperature_analysis/.gitignore
  community_gallery/temperature_analysis/README.md
  community_gallery/temperature_analysis/data/GlobalTemperatures.csv
  community_gallery/temperature_analysis/hello.py
  community_gallery/temperature_analysis/images/favicon.ico
  community_gallery/temperature_analysis/images/logo.png
  community_gallery/temperature_analysis/preswald.toml
  community_gallery/temperature_analysis/pyproject.toml
  community_gallery/temperature_analysis/secrets.toml
Due: black, ruff

Remove sensitive and system files from tracking
  community_gallery/temperature_analysis/.DS_Store
  community_gallery/temperature_analysis/.env.structured
  community_gallery/temperature_analysis/.gitignore
  community_gallery/temperature_analysis/secrets.toml
Due: none

Move my_ev_example under community_galler
  community_gallery/ev/electric_vehicle_example/README.md
  community_gallery/ev/electric_vehicle_example/hello.py
Due: black, ruff

git commit -m "Added EV Population Analysis to community_gallery"
  community_gallery/ev_population_analysis/README.md
  community_gallery/ev_population_analysis/hello.py
  community_gallery/ev_population_analysis/images/favicon.ico
  community_gallery/ev_population_analysis/images/logo.png
  community_gallery/ev_population_analysis/preswald.toml
  community_gallery/ev_population_analysis/pyproject.toml
  community_gallery/ev_population_analysis/secrets.toml
Due: black, ruff

Base version, need to process source
  .pre-commit-config.yaml
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: black, ruff, prettier

life expectancy dataset update
  community_gallery/life_expectancy_dataset/README.md
  community_gallery/life_expectancy_dataset/hello.py
  community_gallery/life_expectancy_dataset/preswald.toml
  community_gallery/life_expectancy_dataset/pyproject.toml
Due: black, ruff

dataset
  community_gallery/life_expectancy_dataset/data/life_expectancy_dataset.csv
Due: none

stock anlysis app
  community_gallery/nvidia-stock-volatility-analysis/README.md
  community_gallery/nvidia-stock-volatility-analysis/hello.py
  community_gallery/nvidia-stock-volatility-analysis/preswald.toml
  community_gallery/nvidia-stock-volatility-analysis/pyproject.toml
  community_gallery/nvidia-stock-volatility-analysis/secrets.toml
Due: black, ruff

feat: add average_salary_by_job_montgomery
  community_gallery/average_salary_by_job_montgomery/.gitignore
  community_gallery/average_salary_by_job_montgomery/README.md
  community_gallery/average_salary_by_job_montgomery/hello.py
  community_gallery/average_salary_by_job_montgomery/images/favicon.ico
  community_gallery/average_salary_by_job_montgomery/images/logo.png
  community_gallery/average_salary_by_job_montgomery/preswald.toml
  community_gallery/average_salary_by_job_montgomery/pyproject.toml
Due: black, ruff

adding yc_companies_analysis to community_gallery
  community_gallery/yc_companies_analytics/.gitignore
  community_gallery/yc_companies_analytics/README.md
  community_gallery/yc_companies_analytics/hello.py
  community_gallery/yc_companies_analytics/images/favicon.ico
  community_gallery/yc_companies_analytics/images/logo.png
  community_gallery/yc_companies_analytics/preswald.toml
  community_gallery/yc_companies_analytics/pyproject.toml
Due: black, ruff

Update hello.py
  community_gallery/Bitcoin_market_app/hello.py
Due: black, ruff

add: folder in commute gallery
  community_gallery/cricket_dashboard/.gitignore
  community_gallery/cricket_dashboard/README.md
  community_gallery/cricket_dashboard/hello.py
  community_gallery/cricket_dashboard/images/favicon.ico
  community_gallery/cricket_dashboard/images/ipl_logo.svg
  community_gallery/cricket_dashboard/images/logo.png
  community_gallery/cricket_dashboard/preswald.toml
  community_gallery/cricket_dashboard/pyproject.toml
Due: black, ruff

deloyed the global_water_consumption dataset
  community_gallery/global_water_consumption/.gitignore
  community_gallery/global_water_consumption/hello.py
  community_gallery/global_water_consumption/preswald.toml
Due: black, ruff

init: default template
  community_gallery/Stock_Analysis/.gitignore
  community_gallery/Stock_Analysis/images/favicon.ico
  community_gallery/Stock_Analysis/images/logo.png
  community_gallery/Stock_Analysis/preswald.toml
  community_gallery/Stock_Analysis/pyproject.toml
Due: none

add: stock analysis dashboard
  community_gallery/Stock_Analysis/hello.py
Due: black, ruff

add: README.md
  community_gallery/Stock_Analysis/README.md
Due: none

example: JP Morgan Stock Data Visualization
  community_gallery/jp_morgan_stock/README.md
  community_gallery/jp_morgan_stock/hello.py
  community_gallery/jp_morgan_stock/images/favicon.ico
  community_gallery/jp_morgan_stock/images/logo.png
  community_gallery/jp_morgan_stock/preswald.toml
  community_gallery/jp_morgan_stock/pyproject.toml
  community_gallery/jp_morgan_stock/requirements.txt
Due: black, ruff

added hello.py and README.md
  community_gallery/grocery-inventory/README.md
  community_gallery/grocery-inventory/hello.py
Due: black, ruff

feat(compare-countries): add optional factor selection for salary comparison
  community_gallery/stack_overflow_developer_trends/README.md
  community_gallery/stack_overflow_developer_trends/app.py
Due: black, ruff

refactor(compare-countries): remove unnecessary size parameter from factor selection
  community_gallery/stack_overflow_developer_trends/app.py
Due: black, ruff

fix(compare-countries): enforce consistent color mapping and ordering across charts
  community_gallery/stack_overflow_developer_trends/app.py
Due: black, ruff

created new community example preswald dashboard for the indian startup funding dataset
  community_gallery/indian_startup_funding/.gitignore
  community_gallery/indian_startup_funding/README.md
  community_gallery/indian_startup_funding/hello.py
  community_gallery/indian_startup_funding/images/favicon.ico
  community_gallery/indian_startup_funding/images/logo.png
  community_gallery/indian_startup_funding/preswald.toml
  community_gallery/indian_startup_funding/pyproject.toml
Due: black, ruff

added food_wastage
  community_gallery/food_wastage/.gitignore
  community_gallery/food_wastage/README.md
  community_gallery/food_wastage/hello.py
  community_gallery/food_wastage/images/favicon.ico
  community_gallery/food_wastage/images/logo.png
  community_gallery/food_wastage/preswald.toml
  community_gallery/food_wastage/pyproject.toml
Due: black, ruff

Removed unused imports
  frontend/src/components/widgets/TopbarWidget.jsx
Due: prettier

Created an app for coding assessment on analsis of irish pay gap between men and women
  community_gallery/irish_pay_gap/.gitignore
  community_gallery/irish_pay_gap/README.md
  community_gallery/irish_pay_gap/hello.py
  community_gallery/irish_pay_gap/images/favicon.ico
  community_gallery/irish_pay_gap/images/logo.png
  community_gallery/irish_pay_gap/preswald.toml
  community_gallery/irish_pay_gap/pyproject.toml
  community_gallery/irish_pay_gap/requirements.txt
Due: black, ruff

Create PhonePricesComparison
  community_gallery/PhonePricesComparison
Due: none

Delete community_gallery/PhonePricesComparison
  community_gallery/PhonePricesComparison
Due: none

Create deleteme.html
  community_gallery/PhonePricesComparison/deleteme.html
Due: none

Add files via upload
  community_gallery/PhonePricesComparison/hello.py
Due: black, ruff

Create a.html
  community_gallery/PhonePricesComparison/data/a.html
Due: none

Add files via upload
  community_gallery/PhonePricesComparison/data/sample.csv
Due: none
